In [1]:
#Importação das bibliotecas utilizadas para manipulação dos dados das paginas Web.

import pandas as pd
import sqlalchemy
import pymysql
from datetime import datetime
import json
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Criando um database.

conexao = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'admin')

cursor = conexao.cursor()

try:
    cursor.execute('CREATE DATABASE enemdb')
    print('Banco de Dados enemdb criado com sucesso!')
except:
    print('Banco de Dados enemdb já existe!')

Banco de Dados enemdb já existe!

In [3]:
# Conectando ao Banco de Dados enemdb.

cursor.execute("SHOW DATABASES")
print('Databases MySql:')
for x in cursor:
  print(x)


cursor.connection.select_db('enemdb')
print('')
print('Conexão com o banco de dados enemdb')

Databases MySql:
('enemdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

Conexão com o banco de dados enemdb

In [4]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:admin@localhost/enemdb')

In [5]:
# Criação do Dataframe df_enem2015 através da importação da tabela tb_enem2015 (2.000.000 das linhas) oriundo do MySql.

print(f'Dataframe df_enem2015 sendo criado - {datetime.now()}.')

df_enem2015 = pd.DataFrame(engine.execute('SELECT NU_INSCRICAO, NU_ANO, NO_MUNICIPIO_RESIDENCIA, CO_UF_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, NO_MUNICIPIO_NASCIMENTO, CO_UF_NASCIMENTO, SG_UF_NASCIMENTO, TP_ST_CONCLUSAO, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, IN_BAIXA_VISAO, IN_CEGUEIRA, IN_SURDEZ, IN_DEFICIENCIA_AUDITIVA, IN_SURDO_CEGUEIRA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_MENTAL, IN_DEFICIT_ATENCAO, IN_DISLEXIA, IN_DISCALCULIA, IN_AUTISMO, IN_VISAO_MONOCULAR, IN_OUTRA_DEF, IN_GESTANTE, IN_LACTANTE, IN_IDOSO, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SEM_RECURSO, IN_BRAILLE, IN_AMPLIADA_24, IN_AMPLIADA_18,IN_LEDOR, IN_ACESSO, IN_TRANSCRICAO, IN_LIBRAS, IN_LEITURA_LABIAL, IN_MESA_CADEIRA_RODAS, IN_MESA_CADEIRA_SEPARADA, IN_APOIO_PERNA, IN_GUIA_INTERPRETE, IN_COMPUTADOR, IN_CADEIRA_ESPECIAL, IN_CADEIRA_CANHOTO, IN_CADEIRA_ACOLCHOADA, IN_PROVA_DEITADO, IN_MOBILIARIO_OBESO, IN_LAMINA_OVERLAY, IN_PROTETOR_AURICULAR, IN_MEDIDOR_GLICOSE, IN_MAQUINA_BRAILE, IN_SOROBAN, IN_MARCA_PASSO, IN_SONDA, IN_MEDICAMENTOS, IN_SALA_INDIVIDUAL, IN_SALA_ESPECIAL, IN_SALA_ACOMPANHANTE, IN_MOBILIARIO_ESPECIFICO, IN_MATERIAL_ESPECÍFICO, IN_NOME_SOCIAL, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TP_LINGUA, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q005, Q006, Q022, Q024, Q025 FROM tb_enem2015 LIMIT  2000000'), dtype = str)

print(f'Dataframe df_enem2015 criado com sucesso - {datetime.now()}.')

Dataframe df_enem2015 sendo criado - 2020-08-05 21:11:56.100398.
Dataframe df_enem2015 criado com sucesso - 2020-08-05 21:20:14.511711.

In [6]:
# Apresentação dos dados do Dataframe

df_enem2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
 15  15      object
 16  16      object
 17  17      object
 18  18      object
 19  19      object
 20  20      object
 21  21      object
 22  22      object
 23  23      object
 24  24      object
 25  25      object
 26  26      object
 27  27      object
 28  28      object
 29  29      object
 30  30      object
 31  31      object
 32  32      object
 33  33      object
 34  34      object
 35  35      object
 36  36      object
 37  37      object
 38  38      object
 39  39      object
 40  40      object
 41  41      object
 42  42      object
 43  43      object
 44  44      object
 45  45      object
 46  46      object
 47  47      object
 48  48      object
 49  49      object
 50  50      object
 51  51      object
 52  52      object
 53  53      object
 54  54      object
 55  55      object
 56  56      object
 57  57      object
 58  58      object
 59  59      object
 60  60      object
 61  61      object
 62  62      object
 63  63      object
 64  64      object
 65  65      object
 66  66      object
 67  67      object
 68  68      object
 69  69      object
 70  70      object
 71  71      object
 72  72      object
 73  73      object
 74  74      object
 75  75      object
 76  76      object
 77  77      object
 78  78      object
 79  79      object
 80  80      object
 81  81      object
 82  82      object
 83  83      object
 84  84      object
 85  85      object
 86  86      object
 87  87      object
 88  88      object
 89  89      object
 90  90      object
 91  91      object
 92  92      object
 93  93      object
 94  94      object
 95  95      object
 96  96      object
dtypes: object(97)
memory usage: 1.4+ GB

In [7]:
# Renomeação das colunas do Dataframe

df_enem2015.columns = ['NU_INSCRICAO', 'NU_ANO', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 
'TP_NACIONALIDADE', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 
'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO','IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 
'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 
'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECÍFICO', 'IN_NOME_SOCIAL', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q005', 'Q006', 'Q022', 'Q024', 'Q025']

In [8]:
# Apresentação dos dados do Dataframe

df_enem2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   NU_ANO                       object
 2   NO_MUNICIPIO_RESIDENCIA      object
 3   CO_UF_RESIDENCIA             object
 4   SG_UF_RESIDENCIA             object
 5   NU_IDADE                     object
 6   TP_SEXO                      object
 7   TP_ESTADO_CIVIL              object
 8   TP_COR_RACA                  object
 9   TP_NACIONALIDADE             object
 10  NO_MUNICIPIO_NASCIMENTO      object
 11  CO_UF_NASCIMENTO             object
 12  SG_UF_NASCIMENTO             object
 13  TP_ST_CONCLUSAO              object
 14  TP_ESCOLA                    object
 15  TP_ENSINO                    object
 16  IN_TREINEIRO                 object
 17  CO_UF_ESC                    object
 18  SG_UF_ESC                    object
 19  TP_DEPENDENCIA_ADM_ESC       object
 20  TP_LOCALIZACAO_ESC           object
 21  IN_BAIXA_VISAO               object
 22  IN_CEGUEIRA                  object
 23  IN_SURDEZ                    object
 24  IN_DEFICIENCIA_AUDITIVA      object
 25  IN_SURDO_CEGUEIRA            object
 26  IN_DEFICIENCIA_FISICA        object
 27  IN_DEFICIENCIA_MENTAL        object
 28  IN_DEFICIT_ATENCAO           object
 29  IN_DISLEXIA                  object
 30  IN_DISCALCULIA               object
 31  IN_AUTISMO                   object
 32  IN_VISAO_MONOCULAR           object
 33  IN_OUTRA_DEF                 object
 34  IN_GESTANTE                  object
 35  IN_LACTANTE                  object
 36  IN_IDOSO                     object
 37  IN_ESTUDA_CLASSE_HOSPITALAR  object
 38  IN_SEM_RECURSO               object
 39  IN_BRAILLE                   object
 40  IN_AMPLIADA_24               object
 41  IN_AMPLIADA_18               object
 42  IN_LEDOR                     object
 43  IN_ACESSO                    object
 44  IN_TRANSCRICAO               object
 45  IN_LIBRAS                    object
 46  IN_LEITURA_LABIAL            object
 47  IN_MESA_CADEIRA_RODAS        object
 48  IN_MESA_CADEIRA_SEPARADA     object
 49  IN_APOIO_PERNA               object
 50  IN_GUIA_INTERPRETE           object
 51  IN_COMPUTADOR                object
 52  IN_CADEIRA_ESPECIAL          object
 53  IN_CADEIRA_CANHOTO           object
 54  IN_CADEIRA_ACOLCHOADA        object
 55  IN_PROVA_DEITADO             object
 56  IN_MOBILIARIO_OBESO          object
 57  IN_LAMINA_OVERLAY            object
 58  IN_PROTETOR_AURICULAR        object
 59  IN_MEDIDOR_GLICOSE           object
 60  IN_MAQUINA_BRAILE            object
 61  IN_SOROBAN                   object
 62  IN_MARCA_PASSO               object
 63  IN_SONDA                     object
 64  IN_MEDICAMENTOS              object
 65  IN_SALA_INDIVIDUAL           object
 66  IN_SALA_ESPECIAL             object
 67  IN_SALA_ACOMPANHANTE         object
 68  IN_MOBILIARIO_ESPECIFICO     object
 69  IN_MATERIAL_ESPECÍFICO       object
 70  IN_NOME_SOCIAL               object
 71  NO_MUNICIPIO_PROVA           object
 72  CO_UF_PROVA                  object
 73  SG_UF_PROVA                  object
 74  TP_PRESENCA_CN               object
 75  TP_PRESENCA_CH               object
 76  TP_PRESENCA_LC               object
 77  TP_PRESENCA_MT               object
 78  NU_NOTA_CN                   object
 79  NU_NOTA_CH                   object
 80  NU_NOTA_LC                   object
 81  NU_NOTA_MT                   object
 82  TP_LINGUA                    object
 83  TP_STATUS_REDACAO            object
 84  NU_NOTA_COMP1                object
 85  NU_NOTA_COMP2                object
 86  NU_NOTA_COMP3                object
 87  NU_NOTA_COMP4                object
 88  NU_NOTA_COMP5                object
 89  NU_NOTA_REDACAO              object
 90  Q001                         object
 91  Q002                         object
 92  Q005                         object
 93  Q006                         object
 94  Q022                         object
 95  Q024                         object
 96  Q025                         object
dtypes: object(97)
memory usage: 1.4+ GB

In [9]:
# Criação do Dataframe df_enem2016 através da importação da tabela tb_enem2016 (2.000.000 das linhas) oriundo do MySql.

print(f'Dataframe df_enem2016 sendo criado - {datetime.now()}.')

df_enem2016 = pd.DataFrame(engine.execute('SELECT NU_INSCRICAO, NU_ANO, NO_MUNICIPIO_RESIDENCIA, CO_UF_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, NO_MUNICIPIO_NASCIMENTO, CO_UF_NASCIMENTO, SG_UF_NASCIMENTO, TP_ST_CONCLUSAO, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, IN_BAIXA_VISAO, IN_CEGUEIRA, IN_SURDEZ, IN_DEFICIENCIA_AUDITIVA, IN_SURDO_CEGUEIRA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_MENTAL, IN_DEFICIT_ATENCAO, IN_DISLEXIA, IN_DISCALCULIA, IN_AUTISMO, IN_VISAO_MONOCULAR, IN_OUTRA_DEF, IN_GESTANTE, IN_LACTANTE, IN_IDOSO, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SEM_RECURSO, IN_BRAILLE, IN_AMPLIADA_24, IN_AMPLIADA_18,IN_LEDOR, IN_ACESSO, IN_TRANSCRICAO, IN_LIBRAS, IN_LEITURA_LABIAL, IN_MESA_CADEIRA_RODAS, IN_MESA_CADEIRA_SEPARADA, IN_APOIO_PERNA, IN_GUIA_INTERPRETE, IN_COMPUTADOR, IN_CADEIRA_ESPECIAL, IN_CADEIRA_CANHOTO, IN_CADEIRA_ACOLCHOADA, IN_PROVA_DEITADO, IN_MOBILIARIO_OBESO, IN_LAMINA_OVERLAY, IN_PROTETOR_AURICULAR, IN_MEDIDOR_GLICOSE, IN_MAQUINA_BRAILE, IN_SOROBAN, IN_MARCA_PASSO, IN_SONDA, IN_MEDICAMENTOS, IN_SALA_INDIVIDUAL, IN_SALA_ESPECIAL, IN_SALA_ACOMPANHANTE, IN_MOBILIARIO_ESPECIFICO, IN_MATERIAL_ESPECÍFICO, IN_NOME_SOCIAL, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TP_LINGUA, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q005, Q006, Q022, Q024, Q025 FROM tb_enem2016 LIMIT  2000000'), dtype = str)

print(f'Dataframe df_enem2016 criado com sucesso - {datetime.now()}.')

Dataframe df_enem2016 sendo criado - 2020-08-05 21:20:15.040584.
Dataframe df_enem2016 criado com sucesso - 2020-08-05 21:29:12.895390.

In [10]:
# Apresentação dos dados do Dataframe

df_enem2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
 15  15      object
 16  16      object
 17  17      object
 18  18      object
 19  19      object
 20  20      object
 21  21      object
 22  22      object
 23  23      object
 24  24      object
 25  25      object
 26  26      object
 27  27      object
 28  28      object
 29  29      object
 30  30      object
 31  31      object
 32  32      object
 33  33      object
 34  34      object
 35  35      object
 36  36      object
 37  37      object
 38  38      object
 39  39      object
 40  40      object
 41  41      object
 42  42      object
 43  43      object
 44  44      object
 45  45      object
 46  46      object
 47  47      object
 48  48      object
 49  49      object
 50  50      object
 51  51      object
 52  52      object
 53  53      object
 54  54      object
 55  55      object
 56  56      object
 57  57      object
 58  58      object
 59  59      object
 60  60      object
 61  61      object
 62  62      object
 63  63      object
 64  64      object
 65  65      object
 66  66      object
 67  67      object
 68  68      object
 69  69      object
 70  70      object
 71  71      object
 72  72      object
 73  73      object
 74  74      object
 75  75      object
 76  76      object
 77  77      object
 78  78      object
 79  79      object
 80  80      object
 81  81      object
 82  82      object
 83  83      object
 84  84      object
 85  85      object
 86  86      object
 87  87      object
 88  88      object
 89  89      object
 90  90      object
 91  91      object
 92  92      object
 93  93      object
 94  94      object
 95  95      object
 96  96      object
dtypes: object(97)
memory usage: 1.4+ GB

In [11]:
# Renomeação das colunas do Dataframe

df_enem2016.columns = ['NU_INSCRICAO', 'NU_ANO', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 
'TP_NACIONALIDADE', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 
'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO','IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 
'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 
'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECÍFICO', 'IN_NOME_SOCIAL', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q005', 'Q006', 'Q022', 'Q024', 'Q025']

In [12]:
# Apresentação dos dados do Dataframe

df_enem2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   NU_ANO                       object
 2   NO_MUNICIPIO_RESIDENCIA      object
 3   CO_UF_RESIDENCIA             object
 4   SG_UF_RESIDENCIA             object
 5   NU_IDADE                     object
 6   TP_SEXO                      object
 7   TP_ESTADO_CIVIL              object
 8   TP_COR_RACA                  object
 9   TP_NACIONALIDADE             object
 10  NO_MUNICIPIO_NASCIMENTO      object
 11  CO_UF_NASCIMENTO             object
 12  SG_UF_NASCIMENTO             object
 13  TP_ST_CONCLUSAO              object
 14  TP_ESCOLA                    object
 15  TP_ENSINO                    object
 16  IN_TREINEIRO                 object
 17  CO_UF_ESC                    object
 18  SG_UF_ESC                    object
 19  TP_DEPENDENCIA_ADM_ESC       object
 20  TP_LOCALIZACAO_ESC           object
 21  IN_BAIXA_VISAO               object
 22  IN_CEGUEIRA                  object
 23  IN_SURDEZ                    object
 24  IN_DEFICIENCIA_AUDITIVA      object
 25  IN_SURDO_CEGUEIRA            object
 26  IN_DEFICIENCIA_FISICA        object
 27  IN_DEFICIENCIA_MENTAL        object
 28  IN_DEFICIT_ATENCAO           object
 29  IN_DISLEXIA                  object
 30  IN_DISCALCULIA               object
 31  IN_AUTISMO                   object
 32  IN_VISAO_MONOCULAR           object
 33  IN_OUTRA_DEF                 object
 34  IN_GESTANTE                  object
 35  IN_LACTANTE                  object
 36  IN_IDOSO                     object
 37  IN_ESTUDA_CLASSE_HOSPITALAR  object
 38  IN_SEM_RECURSO               object
 39  IN_BRAILLE                   object
 40  IN_AMPLIADA_24               object
 41  IN_AMPLIADA_18               object
 42  IN_LEDOR                     object
 43  IN_ACESSO                    object
 44  IN_TRANSCRICAO               object
 45  IN_LIBRAS                    object
 46  IN_LEITURA_LABIAL            object
 47  IN_MESA_CADEIRA_RODAS        object
 48  IN_MESA_CADEIRA_SEPARADA     object
 49  IN_APOIO_PERNA               object
 50  IN_GUIA_INTERPRETE           object
 51  IN_COMPUTADOR                object
 52  IN_CADEIRA_ESPECIAL          object
 53  IN_CADEIRA_CANHOTO           object
 54  IN_CADEIRA_ACOLCHOADA        object
 55  IN_PROVA_DEITADO             object
 56  IN_MOBILIARIO_OBESO          object
 57  IN_LAMINA_OVERLAY            object
 58  IN_PROTETOR_AURICULAR        object
 59  IN_MEDIDOR_GLICOSE           object
 60  IN_MAQUINA_BRAILE            object
 61  IN_SOROBAN                   object
 62  IN_MARCA_PASSO               object
 63  IN_SONDA                     object
 64  IN_MEDICAMENTOS              object
 65  IN_SALA_INDIVIDUAL           object
 66  IN_SALA_ESPECIAL             object
 67  IN_SALA_ACOMPANHANTE         object
 68  IN_MOBILIARIO_ESPECIFICO     object
 69  IN_MATERIAL_ESPECÍFICO       object
 70  IN_NOME_SOCIAL               object
 71  NO_MUNICIPIO_PROVA           object
 72  CO_UF_PROVA                  object
 73  SG_UF_PROVA                  object
 74  TP_PRESENCA_CN               object
 75  TP_PRESENCA_CH               object
 76  TP_PRESENCA_LC               object
 77  TP_PRESENCA_MT               object
 78  NU_NOTA_CN                   object
 79  NU_NOTA_CH                   object
 80  NU_NOTA_LC                   object
 81  NU_NOTA_MT                   object
 82  TP_LINGUA                    object
 83  TP_STATUS_REDACAO            object
 84  NU_NOTA_COMP1                object
 85  NU_NOTA_COMP2                object
 86  NU_NOTA_COMP3                object
 87  NU_NOTA_COMP4                object
 88  NU_NOTA_COMP5                object
 89  NU_NOTA_REDACAO              object
 90  Q001                         object
 91  Q002                         object
 92  Q005                         object
 93  Q006                         object
 94  Q022                         object
 95  Q024                         object
 96  Q025                         object
dtypes: object(97)
memory usage: 1.4+ GB

In [13]:
# Criação do Dataframe df_enem2017 através da importação da tabela tb_enem2017 (2.000.000 das linhas) oriundo do MySql.

print(f'Dataframe df_enem2017 sendo criado - {datetime.now()}.')

df_enem2017 = pd.DataFrame(engine.execute('SELECT NU_INSCRICAO, NU_ANO, NO_MUNICIPIO_RESIDENCIA, CO_UF_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, NO_MUNICIPIO_NASCIMENTO, CO_UF_NASCIMENTO, SG_UF_NASCIMENTO, TP_ST_CONCLUSAO, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, IN_BAIXA_VISAO, IN_CEGUEIRA, IN_SURDEZ, IN_DEFICIENCIA_AUDITIVA, IN_SURDO_CEGUEIRA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_MENTAL, IN_DEFICIT_ATENCAO, IN_DISLEXIA, IN_DISCALCULIA, IN_AUTISMO, IN_VISAO_MONOCULAR, IN_OUTRA_DEF, IN_GESTANTE, IN_LACTANTE, IN_IDOSO, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SEM_RECURSO, IN_BRAILLE, IN_AMPLIADA_24, IN_AMPLIADA_18,IN_LEDOR, IN_ACESSO, IN_TRANSCRICAO, IN_LIBRAS, IN_LEITURA_LABIAL, IN_MESA_CADEIRA_RODAS, IN_MESA_CADEIRA_SEPARADA, IN_APOIO_PERNA, IN_GUIA_INTERPRETE, IN_COMPUTADOR, IN_CADEIRA_ESPECIAL, IN_CADEIRA_CANHOTO, IN_CADEIRA_ACOLCHOADA, IN_PROVA_DEITADO, IN_MOBILIARIO_OBESO, IN_LAMINA_OVERLAY, IN_PROTETOR_AURICULAR, IN_MEDIDOR_GLICOSE, IN_MAQUINA_BRAILE, IN_SOROBAN, IN_MARCA_PASSO, IN_SONDA, IN_MEDICAMENTOS, IN_SALA_INDIVIDUAL, IN_SALA_ESPECIAL, IN_SALA_ACOMPANHANTE, IN_MOBILIARIO_ESPECIFICO, IN_MATERIAL_ESPECÍFICO, IN_NOME_SOCIAL, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TP_LINGUA, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q005, Q006, Q022, Q024, Q025 FROM tb_enem2017 LIMIT  2000000'), dtype = str)

print(f'Dataframe df_enem2017 criado com sucesso - {datetime.now()}.')

Dataframe df_enem2017 sendo criado - 2020-08-05 21:29:13.220984.
Dataframe df_enem2017 criado com sucesso - 2020-08-05 21:38:08.999452.

In [14]:
# Apresentação dos dados do Dataframe

df_enem2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
 15  15      object
 16  16      object
 17  17      object
 18  18      object
 19  19      object
 20  20      object
 21  21      object
 22  22      object
 23  23      object
 24  24      object
 25  25      object
 26  26      object
 27  27      object
 28  28      object
 29  29      object
 30  30      object
 31  31      object
 32  32      object
 33  33      object
 34  34      object
 35  35      object
 36  36      object
 37  37      object
 38  38      object
 39  39      object
 40  40      object
 41  41      object
 42  42      object
 43  43      object
 44  44      object
 45  45      object
 46  46      object
 47  47      object
 48  48      object
 49  49      object
 50  50      object
 51  51      object
 52  52      object
 53  53      object
 54  54      object
 55  55      object
 56  56      object
 57  57      object
 58  58      object
 59  59      object
 60  60      object
 61  61      object
 62  62      object
 63  63      object
 64  64      object
 65  65      object
 66  66      object
 67  67      object
 68  68      object
 69  69      object
 70  70      object
 71  71      object
 72  72      object
 73  73      object
 74  74      object
 75  75      object
 76  76      object
 77  77      object
 78  78      object
 79  79      object
 80  80      object
 81  81      object
 82  82      object
 83  83      object
 84  84      object
 85  85      object
 86  86      object
 87  87      object
 88  88      object
 89  89      object
 90  90      object
 91  91      object
 92  92      object
 93  93      object
 94  94      object
 95  95      object
 96  96      object
dtypes: object(97)
memory usage: 1.4+ GB

In [15]:
# Renomeação das colunas do Dataframe

df_enem2017.columns = ['NU_INSCRICAO', 'NU_ANO', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 
'TP_NACIONALIDADE', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 
'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO','IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 
'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 
'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECÍFICO', 'IN_NOME_SOCIAL', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q005', 'Q006', 'Q022', 'Q024', 'Q025']

In [16]:
# Apresentação dos dados do Dataframe

df_enem2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   NU_ANO                       object
 2   NO_MUNICIPIO_RESIDENCIA      object
 3   CO_UF_RESIDENCIA             object
 4   SG_UF_RESIDENCIA             object
 5   NU_IDADE                     object
 6   TP_SEXO                      object
 7   TP_ESTADO_CIVIL              object
 8   TP_COR_RACA                  object
 9   TP_NACIONALIDADE             object
 10  NO_MUNICIPIO_NASCIMENTO      object
 11  CO_UF_NASCIMENTO             object
 12  SG_UF_NASCIMENTO             object
 13  TP_ST_CONCLUSAO              object
 14  TP_ESCOLA                    object
 15  TP_ENSINO                    object
 16  IN_TREINEIRO                 object
 17  CO_UF_ESC                    object
 18  SG_UF_ESC                    object
 19  TP_DEPENDENCIA_ADM_ESC       object
 20  TP_LOCALIZACAO_ESC           object
 21  IN_BAIXA_VISAO               object
 22  IN_CEGUEIRA                  object
 23  IN_SURDEZ                    object
 24  IN_DEFICIENCIA_AUDITIVA      object
 25  IN_SURDO_CEGUEIRA            object
 26  IN_DEFICIENCIA_FISICA        object
 27  IN_DEFICIENCIA_MENTAL        object
 28  IN_DEFICIT_ATENCAO           object
 29  IN_DISLEXIA                  object
 30  IN_DISCALCULIA               object
 31  IN_AUTISMO                   object
 32  IN_VISAO_MONOCULAR           object
 33  IN_OUTRA_DEF                 object
 34  IN_GESTANTE                  object
 35  IN_LACTANTE                  object
 36  IN_IDOSO                     object
 37  IN_ESTUDA_CLASSE_HOSPITALAR  object
 38  IN_SEM_RECURSO               object
 39  IN_BRAILLE                   object
 40  IN_AMPLIADA_24               object
 41  IN_AMPLIADA_18               object
 42  IN_LEDOR                     object
 43  IN_ACESSO                    object
 44  IN_TRANSCRICAO               object
 45  IN_LIBRAS                    object
 46  IN_LEITURA_LABIAL            object
 47  IN_MESA_CADEIRA_RODAS        object
 48  IN_MESA_CADEIRA_SEPARADA     object
 49  IN_APOIO_PERNA               object
 50  IN_GUIA_INTERPRETE           object
 51  IN_COMPUTADOR                object
 52  IN_CADEIRA_ESPECIAL          object
 53  IN_CADEIRA_CANHOTO           object
 54  IN_CADEIRA_ACOLCHOADA        object
 55  IN_PROVA_DEITADO             object
 56  IN_MOBILIARIO_OBESO          object
 57  IN_LAMINA_OVERLAY            object
 58  IN_PROTETOR_AURICULAR        object
 59  IN_MEDIDOR_GLICOSE           object
 60  IN_MAQUINA_BRAILE            object
 61  IN_SOROBAN                   object
 62  IN_MARCA_PASSO               object
 63  IN_SONDA                     object
 64  IN_MEDICAMENTOS              object
 65  IN_SALA_INDIVIDUAL           object
 66  IN_SALA_ESPECIAL             object
 67  IN_SALA_ACOMPANHANTE         object
 68  IN_MOBILIARIO_ESPECIFICO     object
 69  IN_MATERIAL_ESPECÍFICO       object
 70  IN_NOME_SOCIAL               object
 71  NO_MUNICIPIO_PROVA           object
 72  CO_UF_PROVA                  object
 73  SG_UF_PROVA                  object
 74  TP_PRESENCA_CN               object
 75  TP_PRESENCA_CH               object
 76  TP_PRESENCA_LC               object
 77  TP_PRESENCA_MT               object
 78  NU_NOTA_CN                   object
 79  NU_NOTA_CH                   object
 80  NU_NOTA_LC                   object
 81  NU_NOTA_MT                   object
 82  TP_LINGUA                    object
 83  TP_STATUS_REDACAO            object
 84  NU_NOTA_COMP1                object
 85  NU_NOTA_COMP2                object
 86  NU_NOTA_COMP3                object
 87  NU_NOTA_COMP4                object
 88  NU_NOTA_COMP5                object
 89  NU_NOTA_REDACAO              object
 90  Q001                         object
 91  Q002                         object
 92  Q005                         object
 93  Q006                         object
 94  Q022                         object
 95  Q024                         object
 96  Q025                         object
dtypes: object(97)
memory usage: 1.4+ GB

In [17]:
# Criação do Dataframe df_enem2018 através da importação da tabela tb_enem2018 (2.000.000 das linhas) oriundo do MySql.

print(f'Dataframe df_enem2018 sendo criado - {datetime.now()}.')

df_enem2018 = pd.DataFrame(engine.execute('SELECT NU_INSCRICAO, NU_ANO, NO_MUNICIPIO_RESIDENCIA, CO_UF_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, NO_MUNICIPIO_NASCIMENTO, CO_UF_NASCIMENTO, SG_UF_NASCIMENTO, TP_ST_CONCLUSAO, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, IN_BAIXA_VISAO, IN_CEGUEIRA, IN_SURDEZ, IN_DEFICIENCIA_AUDITIVA, IN_SURDO_CEGUEIRA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_MENTAL, IN_DEFICIT_ATENCAO, IN_DISLEXIA, IN_DISCALCULIA, IN_AUTISMO, IN_VISAO_MONOCULAR, IN_OUTRA_DEF, IN_GESTANTE, IN_LACTANTE, IN_IDOSO, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SEM_RECURSO, IN_BRAILLE, IN_AMPLIADA_24, IN_AMPLIADA_18,IN_LEDOR, IN_ACESSO, IN_TRANSCRICAO, IN_LIBRAS, IN_LEITURA_LABIAL, IN_MESA_CADEIRA_RODAS, IN_MESA_CADEIRA_SEPARADA, IN_APOIO_PERNA, IN_GUIA_INTERPRETE, IN_COMPUTADOR, IN_CADEIRA_ESPECIAL, IN_CADEIRA_CANHOTO, IN_CADEIRA_ACOLCHOADA, IN_PROVA_DEITADO, IN_MOBILIARIO_OBESO, IN_LAMINA_OVERLAY, IN_PROTETOR_AURICULAR, IN_MEDIDOR_GLICOSE, IN_MAQUINA_BRAILE, IN_SOROBAN, IN_MARCA_PASSO, IN_SONDA, IN_MEDICAMENTOS, IN_SALA_INDIVIDUAL, IN_SALA_ESPECIAL, IN_SALA_ACOMPANHANTE, IN_MOBILIARIO_ESPECIFICO, IN_MATERIAL_ESPECÍFICO, IN_NOME_SOCIAL, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TP_LINGUA, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q005, Q006, Q022, Q024, Q025 FROM tb_enem2018 LIMIT  2000000'), dtype = str)

print(f'Dataframe df_enem2018 criado com sucesso - {datetime.now()}.')

Dataframe df_enem2018 sendo criado - 2020-08-05 21:38:09.437952.
Dataframe df_enem2018 criado com sucesso - 2020-08-05 21:46:41.590335.

In [18]:
# Apresentação dos dados do Dataframe

df_enem2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
 15  15      object
 16  16      object
 17  17      object
 18  18      object
 19  19      object
 20  20      object
 21  21      object
 22  22      object
 23  23      object
 24  24      object
 25  25      object
 26  26      object
 27  27      object
 28  28      object
 29  29      object
 30  30      object
 31  31      object
 32  32      object
 33  33      object
 34  34      object
 35  35      object
 36  36      object
 37  37      object
 38  38      object
 39  39      object
 40  40      object
 41  41      object
 42  42      object
 43  43      object
 44  44      object
 45  45      object
 46  46      object
 47  47      object
 48  48      object
 49  49      object
 50  50      object
 51  51      object
 52  52      object
 53  53      object
 54  54      object
 55  55      object
 56  56      object
 57  57      object
 58  58      object
 59  59      object
 60  60      object
 61  61      object
 62  62      object
 63  63      object
 64  64      object
 65  65      object
 66  66      object
 67  67      object
 68  68      object
 69  69      object
 70  70      object
 71  71      object
 72  72      object
 73  73      object
 74  74      object
 75  75      object
 76  76      object
 77  77      object
 78  78      object
 79  79      object
 80  80      object
 81  81      object
 82  82      object
 83  83      object
 84  84      object
 85  85      object
 86  86      object
 87  87      object
 88  88      object
 89  89      object
 90  90      object
 91  91      object
 92  92      object
 93  93      object
 94  94      object
 95  95      object
 96  96      object
dtypes: object(97)
memory usage: 1.4+ GB

In [19]:
# Renomeação das colunas do Dataframe

df_enem2018.columns = ['NU_INSCRICAO', 'NU_ANO', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 
'TP_NACIONALIDADE', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 
'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO','IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 
'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 
'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECÍFICO', 'IN_NOME_SOCIAL', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q005', 'Q006', 'Q022', 'Q024', 'Q025']

In [20]:
# Apresentação dos dados do Dataframe

df_enem2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   NU_ANO                       object
 2   NO_MUNICIPIO_RESIDENCIA      object
 3   CO_UF_RESIDENCIA             object
 4   SG_UF_RESIDENCIA             object
 5   NU_IDADE                     object
 6   TP_SEXO                      object
 7   TP_ESTADO_CIVIL              object
 8   TP_COR_RACA                  object
 9   TP_NACIONALIDADE             object
 10  NO_MUNICIPIO_NASCIMENTO      object
 11  CO_UF_NASCIMENTO             object
 12  SG_UF_NASCIMENTO             object
 13  TP_ST_CONCLUSAO              object
 14  TP_ESCOLA                    object
 15  TP_ENSINO                    object
 16  IN_TREINEIRO                 object
 17  CO_UF_ESC                    object
 18  SG_UF_ESC                    object
 19  TP_DEPENDENCIA_ADM_ESC       object
 20  TP_LOCALIZACAO_ESC           object
 21  IN_BAIXA_VISAO               object
 22  IN_CEGUEIRA                  object
 23  IN_SURDEZ                    object
 24  IN_DEFICIENCIA_AUDITIVA      object
 25  IN_SURDO_CEGUEIRA            object
 26  IN_DEFICIENCIA_FISICA        object
 27  IN_DEFICIENCIA_MENTAL        object
 28  IN_DEFICIT_ATENCAO           object
 29  IN_DISLEXIA                  object
 30  IN_DISCALCULIA               object
 31  IN_AUTISMO                   object
 32  IN_VISAO_MONOCULAR           object
 33  IN_OUTRA_DEF                 object
 34  IN_GESTANTE                  object
 35  IN_LACTANTE                  object
 36  IN_IDOSO                     object
 37  IN_ESTUDA_CLASSE_HOSPITALAR  object
 38  IN_SEM_RECURSO               object
 39  IN_BRAILLE                   object
 40  IN_AMPLIADA_24               object
 41  IN_AMPLIADA_18               object
 42  IN_LEDOR                     object
 43  IN_ACESSO                    object
 44  IN_TRANSCRICAO               object
 45  IN_LIBRAS                    object
 46  IN_LEITURA_LABIAL            object
 47  IN_MESA_CADEIRA_RODAS        object
 48  IN_MESA_CADEIRA_SEPARADA     object
 49  IN_APOIO_PERNA               object
 50  IN_GUIA_INTERPRETE           object
 51  IN_COMPUTADOR                object
 52  IN_CADEIRA_ESPECIAL          object
 53  IN_CADEIRA_CANHOTO           object
 54  IN_CADEIRA_ACOLCHOADA        object
 55  IN_PROVA_DEITADO             object
 56  IN_MOBILIARIO_OBESO          object
 57  IN_LAMINA_OVERLAY            object
 58  IN_PROTETOR_AURICULAR        object
 59  IN_MEDIDOR_GLICOSE           object
 60  IN_MAQUINA_BRAILE            object
 61  IN_SOROBAN                   object
 62  IN_MARCA_PASSO               object
 63  IN_SONDA                     object
 64  IN_MEDICAMENTOS              object
 65  IN_SALA_INDIVIDUAL           object
 66  IN_SALA_ESPECIAL             object
 67  IN_SALA_ACOMPANHANTE         object
 68  IN_MOBILIARIO_ESPECIFICO     object
 69  IN_MATERIAL_ESPECÍFICO       object
 70  IN_NOME_SOCIAL               object
 71  NO_MUNICIPIO_PROVA           object
 72  CO_UF_PROVA                  object
 73  SG_UF_PROVA                  object
 74  TP_PRESENCA_CN               object
 75  TP_PRESENCA_CH               object
 76  TP_PRESENCA_LC               object
 77  TP_PRESENCA_MT               object
 78  NU_NOTA_CN                   object
 79  NU_NOTA_CH                   object
 80  NU_NOTA_LC                   object
 81  NU_NOTA_MT                   object
 82  TP_LINGUA                    object
 83  TP_STATUS_REDACAO            object
 84  NU_NOTA_COMP1                object
 85  NU_NOTA_COMP2                object
 86  NU_NOTA_COMP3                object
 87  NU_NOTA_COMP4                object
 88  NU_NOTA_COMP5                object
 89  NU_NOTA_REDACAO              object
 90  Q001                         object
 91  Q002                         object
 92  Q005                         object
 93  Q006                         object
 94  Q022                         object
 95  Q024                         object
 96  Q025                         object
dtypes: object(97)
memory usage: 1.4+ GB

In [21]:
# Criação do Dataframe df_enem2019 através da importação da tabela tb_enem2019 (2.000.000 das linhas) oriundo do MySql.

print(f'Dataframe df_enem2019 sendo criado - {datetime.now()}.')

df_enem2019 = pd.DataFrame(engine.execute('SELECT NU_INSCRICAO, NU_ANO, NO_MUNICIPIO_RESIDENCIA, CO_UF_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, NO_MUNICIPIO_NASCIMENTO, CO_UF_NASCIMENTO, SG_UF_NASCIMENTO, TP_ST_CONCLUSAO, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, IN_BAIXA_VISAO, IN_CEGUEIRA, IN_SURDEZ, IN_DEFICIENCIA_AUDITIVA, IN_SURDO_CEGUEIRA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_MENTAL, IN_DEFICIT_ATENCAO, IN_DISLEXIA, IN_DISCALCULIA, IN_AUTISMO, IN_VISAO_MONOCULAR, IN_OUTRA_DEF, IN_GESTANTE, IN_LACTANTE, IN_IDOSO, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SEM_RECURSO, IN_BRAILLE, IN_AMPLIADA_24, IN_AMPLIADA_18,IN_LEDOR, IN_ACESSO, IN_TRANSCRICAO, IN_LIBRAS, IN_LEITURA_LABIAL, IN_MESA_CADEIRA_RODAS, IN_MESA_CADEIRA_SEPARADA, IN_APOIO_PERNA, IN_GUIA_INTERPRETE, IN_COMPUTADOR, IN_CADEIRA_ESPECIAL, IN_CADEIRA_CANHOTO, IN_CADEIRA_ACOLCHOADA, IN_PROVA_DEITADO, IN_MOBILIARIO_OBESO, IN_LAMINA_OVERLAY, IN_PROTETOR_AURICULAR, IN_MEDIDOR_GLICOSE, IN_MAQUINA_BRAILE, IN_SOROBAN, IN_MARCA_PASSO, IN_SONDA, IN_MEDICAMENTOS, IN_SALA_INDIVIDUAL, IN_SALA_ESPECIAL, IN_SALA_ACOMPANHANTE, IN_MOBILIARIO_ESPECIFICO, IN_MATERIAL_ESPECÍFICO, IN_NOME_SOCIAL, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TP_LINGUA, TP_STATUS_REDACAO, NU_NOTA_COMP1, NU_NOTA_COMP2, NU_NOTA_COMP3, NU_NOTA_COMP4, NU_NOTA_COMP5, NU_NOTA_REDACAO, Q001, Q002, Q005, Q006, Q022, Q024, Q025 FROM tb_enem2019 LIMIT  2000000'), dtype = str)

print(f'Dataframe df_enem2019 criado com sucesso - {datetime.now()}.')

Dataframe df_enem2019 sendo criado - 2020-08-05 21:46:42.453028.
Dataframe df_enem2019 criado com sucesso - 2020-08-05 21:55:10.288139.

In [22]:
# Apresentação dos dados do Dataframe

df_enem2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
 15  15      object
 16  16      object
 17  17      object
 18  18      object
 19  19      object
 20  20      object
 21  21      object
 22  22      object
 23  23      object
 24  24      object
 25  25      object
 26  26      object
 27  27      object
 28  28      object
 29  29      object
 30  30      object
 31  31      object
 32  32      object
 33  33      object
 34  34      object
 35  35      object
 36  36      object
 37  37      object
 38  38      object
 39  39      object
 40  40      object
 41  41      object
 42  42      object
 43  43      object
 44  44      object
 45  45      object
 46  46      object
 47  47      object
 48  48      object
 49  49      object
 50  50      object
 51  51      object
 52  52      object
 53  53      object
 54  54      object
 55  55      object
 56  56      object
 57  57      object
 58  58      object
 59  59      object
 60  60      object
 61  61      object
 62  62      object
 63  63      object
 64  64      object
 65  65      object
 66  66      object
 67  67      object
 68  68      object
 69  69      object
 70  70      object
 71  71      object
 72  72      object
 73  73      object
 74  74      object
 75  75      object
 76  76      object
 77  77      object
 78  78      object
 79  79      object
 80  80      object
 81  81      object
 82  82      object
 83  83      object
 84  84      object
 85  85      object
 86  86      object
 87  87      object
 88  88      object
 89  89      object
 90  90      object
 91  91      object
 92  92      object
 93  93      object
 94  94      object
 95  95      object
 96  96      object
dtypes: object(97)
memory usage: 1.4+ GB

In [23]:
# Renomeação das colunas do Dataframe

df_enem2019.columns = ['NU_INSCRICAO', 'NU_ANO', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 
'TP_NACIONALIDADE', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 
'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO','IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 
'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 
'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECÍFICO', 'IN_NOME_SOCIAL', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q005', 'Q006', 'Q022', 'Q024', 'Q025']

In [24]:
# Apresentação dos dados do Dataframe

df_enem2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   NU_ANO                       object
 2   NO_MUNICIPIO_RESIDENCIA      object
 3   CO_UF_RESIDENCIA             object
 4   SG_UF_RESIDENCIA             object
 5   NU_IDADE                     object
 6   TP_SEXO                      object
 7   TP_ESTADO_CIVIL              object
 8   TP_COR_RACA                  object
 9   TP_NACIONALIDADE             object
 10  NO_MUNICIPIO_NASCIMENTO      object
 11  CO_UF_NASCIMENTO             object
 12  SG_UF_NASCIMENTO             object
 13  TP_ST_CONCLUSAO              object
 14  TP_ESCOLA                    object
 15  TP_ENSINO                    object
 16  IN_TREINEIRO                 object
 17  CO_UF_ESC                    object
 18  SG_UF_ESC                    object
 19  TP_DEPENDENCIA_ADM_ESC       object
 20  TP_LOCALIZACAO_ESC           object
 21  IN_BAIXA_VISAO               object
 22  IN_CEGUEIRA                  object
 23  IN_SURDEZ                    object
 24  IN_DEFICIENCIA_AUDITIVA      object
 25  IN_SURDO_CEGUEIRA            object
 26  IN_DEFICIENCIA_FISICA        object
 27  IN_DEFICIENCIA_MENTAL        object
 28  IN_DEFICIT_ATENCAO           object
 29  IN_DISLEXIA                  object
 30  IN_DISCALCULIA               object
 31  IN_AUTISMO                   object
 32  IN_VISAO_MONOCULAR           object
 33  IN_OUTRA_DEF                 object
 34  IN_GESTANTE                  object
 35  IN_LACTANTE                  object
 36  IN_IDOSO                     object
 37  IN_ESTUDA_CLASSE_HOSPITALAR  object
 38  IN_SEM_RECURSO               object
 39  IN_BRAILLE                   object
 40  IN_AMPLIADA_24               object
 41  IN_AMPLIADA_18               object
 42  IN_LEDOR                     object
 43  IN_ACESSO                    object
 44  IN_TRANSCRICAO               object
 45  IN_LIBRAS                    object
 46  IN_LEITURA_LABIAL            object
 47  IN_MESA_CADEIRA_RODAS        object
 48  IN_MESA_CADEIRA_SEPARADA     object
 49  IN_APOIO_PERNA               object
 50  IN_GUIA_INTERPRETE           object
 51  IN_COMPUTADOR                object
 52  IN_CADEIRA_ESPECIAL          object
 53  IN_CADEIRA_CANHOTO           object
 54  IN_CADEIRA_ACOLCHOADA        object
 55  IN_PROVA_DEITADO             object
 56  IN_MOBILIARIO_OBESO          object
 57  IN_LAMINA_OVERLAY            object
 58  IN_PROTETOR_AURICULAR        object
 59  IN_MEDIDOR_GLICOSE           object
 60  IN_MAQUINA_BRAILE            object
 61  IN_SOROBAN                   object
 62  IN_MARCA_PASSO               object
 63  IN_SONDA                     object
 64  IN_MEDICAMENTOS              object
 65  IN_SALA_INDIVIDUAL           object
 66  IN_SALA_ESPECIAL             object
 67  IN_SALA_ACOMPANHANTE         object
 68  IN_MOBILIARIO_ESPECIFICO     object
 69  IN_MATERIAL_ESPECÍFICO       object
 70  IN_NOME_SOCIAL               object
 71  NO_MUNICIPIO_PROVA           object
 72  CO_UF_PROVA                  object
 73  SG_UF_PROVA                  object
 74  TP_PRESENCA_CN               object
 75  TP_PRESENCA_CH               object
 76  TP_PRESENCA_LC               object
 77  TP_PRESENCA_MT               object
 78  NU_NOTA_CN                   object
 79  NU_NOTA_CH                   object
 80  NU_NOTA_LC                   object
 81  NU_NOTA_MT                   object
 82  TP_LINGUA                    object
 83  TP_STATUS_REDACAO            object
 84  NU_NOTA_COMP1                object
 85  NU_NOTA_COMP2                object
 86  NU_NOTA_COMP3                object
 87  NU_NOTA_COMP4                object
 88  NU_NOTA_COMP5                object
 89  NU_NOTA_REDACAO              object
 90  Q001                         object
 91  Q002                         object
 92  Q005                         object
 93  Q006                         object
 94  Q022                         object
 95  Q024                         object
 96  Q025                         object
dtypes: object(97)
memory usage: 1.4+ GB

In [25]:
# União dos Dataframes  

print(f'Dataframe df_enem sendo criado - {datetime.now()}.')

df_enem = pd.concat([df_enem2015, df_enem2016, df_enem2017, df_enem2018, df_enem2019])

print(f'Dataframe df_enem criado com sucesso - {datetime.now()}.')

Dataframe df_enem sendo criado - 2020-08-05 21:55:10.786827.
Dataframe df_enem criado com sucesso - 2020-08-05 21:58:12.134348.

In [26]:
# Liberação da Memória 

print(f'Liberação Memória sendo iniciada - {datetime.now()}.')

del(df_enem2015)
del(df_enem2016)
del(df_enem2017)
del(df_enem2018)
del(df_enem2019)

print(f'Liberação Memória concluída com sucesso - {datetime.now()}.')

Liberação Memória sendo iniciada - 2020-08-05 21:58:12.335712.
Liberação Memória concluída com sucesso - 2020-08-05 22:00:34.933734.

In [27]:
df_enem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000000 entries, 0 to 1999999
Data columns (total 97 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   NU_ANO                       object
 2   NO_MUNICIPIO_RESIDENCIA      object
 3   CO_UF_RESIDENCIA             object
 4   SG_UF_RESIDENCIA             object
 5   NU_IDADE                     object
 6   TP_SEXO                      object
 7   TP_ESTADO_CIVIL              object
 8   TP_COR_RACA                  object
 9   TP_NACIONALIDADE             object
 10  NO_MUNICIPIO_NASCIMENTO      object
 11  CO_UF_NASCIMENTO             object
 12  SG_UF_NASCIMENTO             object
 13  TP_ST_CONCLUSAO              object
 14  TP_ESCOLA                    object
 15  TP_ENSINO                    object
 16  IN_TREINEIRO                 object
 17  CO_UF_ESC                    object
 18  SG_UF_ESC                    object
 19  TP_DEPENDENCIA_ADM_ESC       object
 20  TP_LOCALIZACAO_ESC           object
 21  IN_BAIXA_VISAO               object
 22  IN_CEGUEIRA                  object
 23  IN_SURDEZ                    object
 24  IN_DEFICIENCIA_AUDITIVA      object
 25  IN_SURDO_CEGUEIRA            object
 26  IN_DEFICIENCIA_FISICA        object
 27  IN_DEFICIENCIA_MENTAL        object
 28  IN_DEFICIT_ATENCAO           object
 29  IN_DISLEXIA                  object
 30  IN_DISCALCULIA               object
 31  IN_AUTISMO                   object
 32  IN_VISAO_MONOCULAR           object
 33  IN_OUTRA_DEF                 object
 34  IN_GESTANTE                  object
 35  IN_LACTANTE                  object
 36  IN_IDOSO                     object
 37  IN_ESTUDA_CLASSE_HOSPITALAR  object
 38  IN_SEM_RECURSO               object
 39  IN_BRAILLE                   object
 40  IN_AMPLIADA_24               object
 41  IN_AMPLIADA_18               object
 42  IN_LEDOR                     object
 43  IN_ACESSO                    object
 44  IN_TRANSCRICAO               object
 45  IN_LIBRAS                    object
 46  IN_LEITURA_LABIAL            object
 47  IN_MESA_CADEIRA_RODAS        object
 48  IN_MESA_CADEIRA_SEPARADA     object
 49  IN_APOIO_PERNA               object
 50  IN_GUIA_INTERPRETE           object
 51  IN_COMPUTADOR                object
 52  IN_CADEIRA_ESPECIAL          object
 53  IN_CADEIRA_CANHOTO           object
 54  IN_CADEIRA_ACOLCHOADA        object
 55  IN_PROVA_DEITADO             object
 56  IN_MOBILIARIO_OBESO          object
 57  IN_LAMINA_OVERLAY            object
 58  IN_PROTETOR_AURICULAR        object
 59  IN_MEDIDOR_GLICOSE           object
 60  IN_MAQUINA_BRAILE            object
 61  IN_SOROBAN                   object
 62  IN_MARCA_PASSO               object
 63  IN_SONDA                     object
 64  IN_MEDICAMENTOS              object
 65  IN_SALA_INDIVIDUAL           object
 66  IN_SALA_ESPECIAL             object
 67  IN_SALA_ACOMPANHANTE         object
 68  IN_MOBILIARIO_ESPECIFICO     object
 69  IN_MATERIAL_ESPECÍFICO       object
 70  IN_NOME_SOCIAL               object
 71  NO_MUNICIPIO_PROVA           object
 72  CO_UF_PROVA                  object
 73  SG_UF_PROVA                  object
 74  TP_PRESENCA_CN               object
 75  TP_PRESENCA_CH               object
 76  TP_PRESENCA_LC               object
 77  TP_PRESENCA_MT               object
 78  NU_NOTA_CN                   object
 79  NU_NOTA_CH                   object
 80  NU_NOTA_LC                   object
 81  NU_NOTA_MT                   object
 82  TP_LINGUA                    object
 83  TP_STATUS_REDACAO            object
 84  NU_NOTA_COMP1                object
 85  NU_NOTA_COMP2                object
 86  NU_NOTA_COMP3                object
 87  NU_NOTA_COMP4                object
 88  NU_NOTA_COMP5                object
 89  NU_NOTA_REDACAO              object
 90  Q001                         object
 91  Q002                         object
 92  Q005                         object
 93  Q006                         object
 94  Q022                         object
 95  Q024                         object
 96  Q025                         object
dtypes: object(97)
memory usage: 7.3+ GB