Projeto Final Pós Graduação Big Data - Senac Rio - 2020.

Processo de importação das Bibliotecas utilizadas no durante todo o projeto.

In [33]:
#Importação das bibliotecas utilizadas para manipulação dos dados das paginas Web.

from bs4 import BeautifulSoup
import urllib.request
import shutil
import os
from datetime import datetime
import pandas as pd
import pyspark
import zipfile
import sqlalchemy
import pymysql
import json
import numpy as np
import matplotlib.pyplot as plt

Indicação do diretório para download dos arquivos Inep-Enem.

In [ ]:
#Indicação do diretório desejado para download dos arquivos. 
#No exemplo, estamos salvando no diretório: C:\Users\Ricardo\Downloads

diretorio = input('Digite o diretório desejado para salvar os arquivos: ')
os.chdir(r'{}'.format(diretorio))
os.getcwd( )

In [ ]:
#Apos indicar o diretorio desejado, como boa pratica, sugerimos a criação da pasta onde será salvos os arquivos.
#No exemplo, estamos salvando na pasta: MicrodadosEnem.'''

pasta = input('Após indicação do diretório {}, informe o nome da pasta desejada para salvar os arquivos baixados da pagina {}: '.format(diretorio, url))

try:
    os.mkdir(pasta)
    print('Pasta {} criada com sucesso!'.format(pasta))
except FileExistsError as e:
    print(f'Pasta {pasta} já existe')

In [ ]:
#Indicação do diretório onde será salvo os arquivos baixados da url.

os.chdir(r'{}\{}'.format(diretorio, pasta))
print('Os arquivos serão salvos no seguinte diretorio:', format(os.getcwd()))

Processo de Web Scraping no site do Inep, buscando os microdados do Enem.

In [ ]:
#Criação de uma variavel que receberá o endereço URL (Uniform Resource Locator ou Localizador Padrão de Recursos).

url = 'http://inep.gov.br/microdados'

In [ ]:
#Criação da variável que receberá todos os dados correspondente a varíavel "url".

page = urllib.request.urlopen(url)

In [ ]:
#Criação da variável "soup", do pacote BeatifulSoup, que apresenta a estutura HTML da pagina que será trabalhada.

soup = BeautifulSoup(page,'html.parser')
print(soup)

In [ ]:
#No loop "for" abaixo, o realizaremos o filtro das tags desejadas.

for link in soup.findAll('a'):
    theLink = link.get('href')
    name = link.string
    
    print(theLink)
    print(name)

In [ ]:
#No processo abaixo, realizaremos o filtro das linhas, cujo o o tipo do arquivo desejado é *.zip.

nomeArquivo = []
typeFile = '.zip'
i = 0
for link in soup.findAll('a'):
    theLink = str(link.get('href')).lower()
    name = link.string
    if 'enem'in theLink:
        if theLink[-4:] == typeFile:
            print(theLink)
            print(type(theLink))
            print(name)
            print(type(name))
            nomeArquivo.append(theLink[39:-4].replace('/','_'))
            print(type(nomeArquivo))

In [ ]:
#Processo de download dos arquivos desejados e salvos na na pasta indicada.

i = 0
for link in soup.findAll('a'):
    theLink = str(link.get('href')).lower()
    name = link.string
    if 'enem'in theLink:
        if theLink[-4:] == typeFile:
            if name is None:
                title = 'SemTítulo' + typeFile
            else:
                title = nomeArquivo[i] + typeFile
                i +=1
            try:
                with open(os.getcwd() + '/' + title,'r') as fileExists:
                    print('Arquivo ' + title + ' existente no diretório '+ os.getcwd() + ' - ' + str(datetime.now()))
                    fileExists.close()
            except FileNotFoundError:
                print('Download Iniciado - {}: '.format(datetime.now()) + title)
                docFile = open(os.getcwd() + '/' + title,'wb')
                docFile.write(urllib.request.urlopen(theLink).read())
                docFile.close()
                print('Download Concluído em {}'.format(datetime.now()))
print('Não há mais arquivos para download')

In [ ]:
#Apresentação do tamanho dos arquivos baixados.

print('Apresentação Arquivos Enem baixados no díretório: ' + os.getcwd())
contador = 0
tamanhoTotal = 0
tipo = '.zip'

def formatarTamanho(tamanho):
    base = 1024
    kilo = base
    mega = base ** 2
    giga = base ** 3
    tera = base ** 4
    
    if tamanho < kilo:
        tamanho = base
        texto = 'B'
    elif tamanho < mega:
        tamanho /= kilo
        texto = 'K'
    elif tamanho < giga:
        tamanho /= mega
        texto = 'M'
    else:
        tamanho < tera
        tamanho /= giga
        texto = 'G'
    tamanho = round(tamanho, 2)
    return f'{tamanho} {texto}'

for raiz, diretorios, arquivos in os.walk(os.getcwd()):
    for arquivo in arquivos:
        if tipo in arquivo:
            contador +=1 
            caminho = os.path.join(raiz, arquivo)
            nome, ext = os.path.splitext(arquivo)
            tamanho = os.path.getsize(caminho)
            tamanhoTotal += tamanho
                                
            if tamanho > 0:
                print()
                print('Arquivo encotrado: ', arquivo)
                print('Caminho: ', caminho)
                print('Nome: ', nome)
                print('Extensão: ', ext)
                print('Tamanho: ', formatarTamanho(tamanho))

print()
print(f'{contador} arquivo(s) encontrado(s).' + 'Tamanho Total: ' + formatarTamanho(tamanhoTotal))

Processo de Conexão ao Mysql e criação do banco de dados que receberá os microdados dos anos de 2015 a 2019.

In [2]:
# Criando um database.

conexao = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'admin')

cursor = conexao.cursor()

try:
    cursor.execute('CREATE DATABASE enemdb')
    print('Banco de Dados enemdb criado com sucesso!')
except:
    print('Banco de Dados enemdb já existe!')

Banco de Dados enemdb já existe!

In [3]:
# Conectando ao Banco de Dados enemdb.

cursor.execute("SHOW DATABASES")
print('Databases MySql:')
for x in cursor:
  print(x)


cursor.connection.select_db('enemdb')
print('')
print('Conexão com o banco de dados enemdb')

Databases MySql:
('enemdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

Conexão com o banco de dados enemdb

In [4]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:admin@localhost/enemdb')

Após download dos microdados, necessitamos descompactar os arquivos zipados, explorar a estrutura dos mesmos, buscando os microdados necessários para análise.

In [ ]:
#Apresentação dos arquivos dentro da pasta zipada Enem.

enemzip2015 = zipfile.ZipFile(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\microdados_enem2015.zip', mode = 'r')
enemzip2015.namelist()

In [ ]:
# No Processo abaixo, importaremos para o dataframe, apenas para conhecer os dados e verificar o separador do microdado.

with enemzip2015.open('DADOS/MICRODADOS_ENEM_2015.csv') as enem2015:
    df_enem2015 = pd.read_csv(enem2015, sep = ',', encoding= 'ISO-8859-1', nrows = 0)

In [ ]:
# Demonstração das colunas importadas para o dataframe.

df_enem2015.columns.values

In [ ]:
# Importação dos dados do Microdados Enem e seleção das colunas para criação do dataframe.

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2015 para o Dataframe - {datetime.now()}.')

with enemzip2015.open('DADOS/MICRODADOS_ENEM_2015.csv') as enem2015:
    df_enem2015_completo = pd.read_csv(enem2015, sep = ',', encoding = 'ISO-8859-1')

print(f'Dataframe df_enem2015_completo criado com sucesso - {datetime.now()}.')

In [ ]:
# Apresentação das informações do Dataframe

df_enem2015_completo.info()

In [ ]:
#Importando o Dataframe para uma tabela no mysql

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2015 para tabela mysql - {datetime.now()}.')

df_enem2015_completo.to_sql(
    name = 'tb_enem2015',
    con = engine,
    index = False,
    chunksize = 500000,
    if_exists = 'replace'
)

print(f'Tabela tb_enem2015 criada com sucesso - {datetime.now()}')
print('Dados importados com sucesso para a tabela tb_enem2015')

In [ ]:
#Afim de otimizar a memória da maquina, realizaremos a limpeza dos objetos e liberar a memória da máquina

try:
    del(df_enem2015_completo)
    del(df_enem2015)
    del(enem2015)
    del(enemzip2015)
    print('Objetos deletados com sucesso - Memória liberada.')
except NameError as erro:
    print('Objetos deletados com sucesso anteriormente - Memória liberada.')

In [ ]:
#Apresentação dos arquivos dentro da pasta zipada Enem.

enemzip2016 = zipfile.ZipFile(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\microdados_enem2016.zip', mode = 'r')
enemzip2016.namelist()

In [ ]:
# No Processo abaixo, importaremos para o dataframe, apenas para conhecer os dados e verificar o separador do microdado.

with enemzip2016.open('Microdados_enem_2016/DADOS/microdados_enem_2016.csv') as enem2016:
    df_enem2016 = pd.read_csv(enem2016, sep = ';', encoding= 'ISO-8859-1', nrows = 0)

In [ ]:
# Demonstração das colunas importadas para o dataframe.

df_enem2016.columns.values

In [ ]:
# Importação dos dados do Microdados Enem e seleção das colunas para criação do dataframe.

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2016 para o Dataframe - {datetime.now()}.')

with enemzip2016.open('Microdados_enem_2016/DADOS/microdados_enem_2016.csv') as enem2016:
    df_enem2016_completo = pd.read_csv(enem2016, sep = ';', encoding = 'ISO-8859-1')

print(f'Dataframe df_enem2016_completo criado com sucesso - {datetime.now()}.')

In [ ]:
df_enem2016_completo.info()

In [ ]:
#Importando o Dataframe para uma tabela no mysql

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2016 para tabela mysql - {datetime.now()}.')
df_enem2016_completo.to_sql(
    name = 'tb_enem2016',
    con = engine,
    index = False,
    chunksize = 10000,
    if_exists = 'replace'
)

print(f'Tabela tb_enem2016 criada com sucesso - {datetime.now()}')
print('Dados importados com sucesso para a tabela tb_enem2016')

In [ ]:
try:
    del(df_enem2016_completo)
    del(df_enem2016)
    del(enem2016)
    del(enemzip2016)
    print('Objetos deletados com sucesso - Memória liberada.')
except NameError as erro:
    print('Objetos deletados com sucesso anteriormente - Memória liberada.')

In [ ]:
#Apresentação dos arquivos dentro da pasta zipada Enem.

enemzip2017 = zipfile.ZipFile(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\microdados_enem2017.zip', mode = 'r')
enemzip2017.namelist()

In [ ]:
# No Processo abaixo, importaremos para o dataframe, apenas para conhecer os dados e verificar o separador do microdado.

with enemzip2017.open('Microdados Enem 2017/DADOS/MICRODADOS_ENEM_2017.csv') as enem2017:
    df_enem2017 = pd.read_csv(enem2017, sep = ';', encoding= 'ISO-8859-1', nrows = 0)

In [ ]:
# Demonstração das colunas importadas para o dataframe.

df_enem2017.columns.values

In [ ]:
# Importação dos dados do Microdados Enem e seleção das colunas para criação do dataframe.

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2017 para o Dataframe - {datetime.now()}.')

with enemzip2017.open('Microdados Enem 2017/DADOS/MICRODADOS_ENEM_2017.csv') as enem2017:
    df_enem2017_completo = pd.read_csv(enem2017, sep = ';', encoding = 'ISO-8859-1')

print(f'Dataframe df_enem2017_completo criado com sucesso - {datetime.now()}.')

In [ ]:
# Apresentação das informações do Dataframe

df_enem2017_completo.info()

In [ ]:
#Importando o Dataframe para uma tabela no mysql

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2017 para tabela mysql - {datetime.now()}.')

df_enem2017_completo.to_sql(
    name = 'tb_enem2017',
    con = engine,
    index = False,
    chunksize = 10000,
    if_exists = 'replace'
)

print(f'Tabela tb_enem2017 criada com sucesso - {datetime.now()}')
print('Dados importados com sucesso para a tabela tb_enem2017')

In [ ]:
#Afim de otimizar a memória da maquina, realizaremos a limpeza dos objetos e liberar a memória da máquina

try:
    del(df_enem2017_completo)
    del(df_enem2017)
    del(enem2017)
    del(enemzip2017)
    print('Objetos deletados com sucesso - Memória liberada.')
except NameError as erro:
    print('Objetos deletados com sucesso anteriormente - Memória liberada.')

In [ ]:
#Apresentação dos arquivos dentro da pasta zipada Enem.

enemzip2018 = zipfile.ZipFile(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\microdados_enem2018.zip', mode = 'r')
enemzip2018.namelist()

In [ ]:
# No Processo abaixo, importaremos para o dataframe, apenas para conhecer os dados e verificar o separador do microdado.

with enemzip2018.open('DADOS/MICRODADOS_ENEM_2018.csv') as enem2018:
    df_enem2018 = pd.read_csv(enem2018, sep = ';', encoding= 'ISO-8859-1', nrows = 0)

In [ ]:
# Demonstração das colunas importadas para o dataframe.

df_enem2018.columns.values

In [ ]:
# Importação dos dados do Microdados Enem e seleção das colunas para criação do dataframe.

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2018 para o Dataframe - {datetime.now()}.')

with enemzip2018.open('DADOS/MICRODADOS_ENEM_2018.csv') as enem2018:
    df_enem2018_completo = pd.read_csv(enem2018, sep = ';', encoding = 'ISO-8859-1')

print(f'Dataframe df_enem2018_completo criado com sucesso - {datetime.now()}.')

In [ ]:
# Apresentação das informações do Dataframe

df_enem2018_completo.info()

In [ ]:
#Importando o Dataframe para uma tabela no mysql

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2018 para tabela mysql - {datetime.now()}.')

df_enem2018_completo.to_sql(
    name = 'tb_enem2018',
    con = engine,
    index = False,
    chunksize = 10000,
    if_exists = 'replace'
)

print(f'Tabela tb_enem2018 criada com sucesso - {datetime.now()}')
print('Dados importados com sucesso para a tabela tb_enem2018')

In [ ]:
#Afim de otimizar a memória da maquina, realizaremos a limpeza dos objetos e liberar a memória da máquina

try:
    del(df_enem2018_completo)
    del(df_enem2018)
    del(enem2018)
    del(enemzip2018)
    print('Objetos deletados com sucesso - Memória liberada.')
except NameError as erro:
    print('Objetos deletados com sucesso anteriormente - Memória liberada.')

In [ ]:
#Apresentação dos arquivos dentro da pasta zipada Enem.

enemzip2019 = zipfile.ZipFile(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\microdados_enem_2019.zip', mode = 'r')
enemzip2019.namelist()

In [ ]:
# No Processo abaixo, importaremos para o dataframe, apenas para conhecer os dados e verificar o separador do microdado.

with enemzip2019.open('DADOS/MICRODADOS_ENEM_2019.csv') as enem2019:
    df_enem2019 = pd.read_csv(enem2019, sep = ';', encoding= 'ISO-8859-1', nrows = 0)

In [ ]:
# Demonstração das colunas importadas para o dataframe.

df_enem2019.columns.values

In [ ]:
# Importação dos dados do Microdados Enem e seleção das colunas para criação do dataframe.

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2019 para o Dataframe - {datetime.now()}.')

with enemzip2019.open('DADOS/MICRODADOS_ENEM_2019.csv') as enem2019:
    df_enem2019_completo = pd.read_csv(enem2019, sep = ';', encoding = 'ISO-8859-1')

print(f'Dataframe df_enem2019_completo criado com sucesso - {datetime.now()}.')

In [ ]:
# Apresentação das informações do Dataframe

df_enem2019_completo.info()

In [ ]:
#Importando o Dataframe para uma tabela no mysql

print(f'Iniciando a criação e importação dos dados do Microdados Enem 2019 para tabela mysql - {datetime.now()}.')

df_enem2019_completo.to_sql(
    name = 'tb_enem2019',
    con = engine,
    index = False,
    chunksize = 10000,
    if_exists = 'replace'
)

print(f'Tabela tb_enem2019 criada com sucesso - {datetime.now()}')
print('Dados importados com sucesso para a tabela tb_enem2019')

In [ ]:
#Afim de otimizar a memória da maquina, realizaremos a limpeza dos objetos e liberar a memória da máquina

try:
    del(df_enem2019_completo)
    del(df_enem2019)
    del(enem2019)
    del(enemzip2019)
    print('Objetos deletados com sucesso - Memória liberada.')
except NameError as erro:
    print('Objetos deletados com sucesso anteriormente - Memória liberada.')

Processo de importação dos dados necessários para composição de um Dataframe e apresentação dos resultados da analise e plotagem.

Criação dos dataframes relativos aos dicionarios levantados dos microdados Enem

In [5]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_BINARIO.json', 'r', encoding='utf-8') as BINARIO:
    dic_BINARIO = json.load(BINARIO)

In [6]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_Q001_Q002.json', 'r', encoding='utf-8') as Q001_Q002:
    dic_Q001_Q002 = json.load(Q001_Q002)

In [7]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_Q006.json', 'r', encoding='utf-8') as Q006:
    dic_Q006 = json.load(Q006)

In [8]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_Q022.json', 'r', encoding='utf-8') as Q022:
    dic_Q022 = json.load(Q022)

In [9]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_Q024.json', 'r', encoding='utf-8') as Q024:
    dic_Q024 = json.load(Q024)

In [10]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_Q025.json', 'r', encoding='utf-8') as Q025:
    dic_Q025 = json.load(Q025)

In [11]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_COR_RACA.json', 'r', encoding='utf-8') as TP_COR_RACA:
    dic_TP_COR_RACA = json.load(TP_COR_RACA)

In [12]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_ESTADO_CIVIL.json', 'r', encoding='utf-8') as TP_ESTADO_CIVIL:
    dic_TP_ESTADO_CIVIL = json.load(TP_ESTADO_CIVIL)

In [13]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_LINGUA.json', 'r', encoding='utf-8') as TP_LINGUA:
    dic_TP_LINGUA = json.load(TP_LINGUA)

In [14]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_NACIONALIDADE.json', 'r', encoding='utf-8') as TP_NACIONALIDADE:
    dic_TP_NACIONALIDADE = json.load(TP_NACIONALIDADE)

In [15]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_PRESENCA.json', 'r', encoding='utf-8') as TP_PRESENCA:
    dic_TP_PRESENCA = json.load(TP_PRESENCA)

In [16]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_SEXO.json', 'r', encoding='utf-8') as TP_SEXO:
    dic_TP_SEXO = json.load(TP_SEXO)

In [17]:
with open(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\Dicionários\dic_TP_ST_CONCLUSAO.json', 'r', encoding='utf-8') as TP_ST_CONCLUSAO:
    dic_TP_ST_CONCLUSAO = json.load(TP_ST_CONCLUSAO)

Criação do Dataframe para realização da análise exploratória.

In [18]:
# Após análise, verificamos quais serão as colunas selecionadas e criamos a lista das colunas importadas para
# o dataframe do Enem.

colunas2015 = [
    'NU_INSCRICAO', 
    'NU_ANO',  
    'NO_MUNICIPIO_RESIDENCIA', 
    'SG_UF_RESIDENCIA', 
    'IN_TREINEIRO', 
    'NU_IDADE', 
    'TP_SEXO', 
    'TP_NACIONALIDADE',
    'NO_MUNICIPIO_NASCIMENTO',
    'SG_UF_NASCIMENTO', 
    'TP_ST_CONCLUSAO',
    'TP_ESTADO_CIVIL',
    'TP_COR_RACA', 
    'IN_BAIXA_VISAO', 
    'IN_CEGUEIRA', 
    'IN_SURDEZ',
    'IN_DEFICIENCIA_AUDITIVA', 
    'IN_SURDO_CEGUEIRA',
    'IN_DEFICIENCIA_FISICA', 
    'IN_DEFICIENCIA_MENTAL',
    'IN_DEFICIT_ATENCAO', 
    'IN_DISLEXIA', 
    'IN_GESTANTE', 
    'IN_LACTANTE',
    'IN_IDOSO', 
    'IN_DISCALCULIA', 
    'IN_AUTISMO', 
    'IN_VISAO_MONOCULAR',
    'IN_OUTRA_DEF', 
    'NO_MUNICIPIO_PROVA', 
    'SG_UF_PROVA',
    'TP_PRESENCA_CN', 
    'TP_PRESENCA_CH', 
    'TP_PRESENCA_LC',
    'TP_PRESENCA_MT', 
    'NU_NOTA_CN', 
    'NU_NOTA_CH', 
    'NU_NOTA_LC',
    'NU_NOTA_MT', 
    'TP_LINGUA',
    'TP_STATUS_REDACAO', 
    'NU_NOTA_REDACAO', 
    'Q001', 
    'Q002', 
    'Q005', 
    'Q006',
    'Q022',
    'Q024', 
    'Q025',
]

In [55]:
# Criação do Dataframe df_enem2015 através da importação da tabela tb_enem2015 oriundo do MySql.

print(f'Dataframe df_enem2015 sendo criado - {datetime.now()}.')

df_enem2015 = pd.DataFrame(engine.execute('SELECT NU_INSCRICAO, NO_MUNICIPIO_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_NACIONALIDADE, TP_ST_CONCLUSAO, TP_ESTADO_CIVIL, TP_COR_RACA FROM tb_enem2015'), dtype = str)

print(f'Dataframe df_enem2015 criado com sucesso - {datetime.now()}.')

Dataframe df_enem2015 sendo criado - 2020-07-14 17:35:49.543221.
Dataframe df_enem2015 criado com sucesso - 2020-07-14 17:47:13.156430.

In [56]:
#Apresentaçao das primeiras inforamções do Dataframe criado.

df_enem2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7746427 entries, 0 to 7746426
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
dtypes: object(9)
memory usage: 531.9+ MB

In [57]:
# Apresentação das cinco primeiras linhas do dataframe.

df_enem2015.head()

              0               1   2     3  4  5  6    7  8
0  150000000376        Gravataí  RS  42.0  M  1  1  1.0  1
1  150000003053   Montes Claros  MG  21.0  M  1  1  0.0  3
2  150000001161          Olinda  PE  22.0  M  1  4  1.0  2
3  150000001335  Belo Horizonte  MG  23.0  F  1  1  0.0  4
4  150000001219   Teófilo Otoni  MG  18.0  M  1  1  0.0  3

In [58]:
# Inclusão dos nomes das colunas, afim de ajudar na leitura dos dados.

df_enem2015.columns = ['NU_INSCRICAO', 'NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA']

In [59]:
# Apresentação das cinco primeiras linhas do dataframe com os nomes das colunas.

df_enem2015.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESTADO_CIVIL,TP_COR_RACA
0,150000000376,Gravataí,RS,42.0,M,1,1,1.0,1
1,150000003053,Montes Claros,MG,21.0,M,1,1,0.0,3
2,150000001161,Olinda,PE,22.0,M,1,4,1.0,2
3,150000001335,Belo Horizonte,MG,23.0,F,1,1,0.0,4
4,150000001219,Teófilo Otoni,MG,18.0,M,1,1,0.0,3

In [60]:
#Criação da coluna SEXO, com apoio do dicionário. 

print(f'Inclusão da coluna SEXO no Dataframe inciada - {datetime.now()}.')

df_enem2015['SEXO'] = [dic_TP_SEXO[s] for s in df_enem2015.TP_SEXO]

print(f'Coluna SEXO criada com sucesso - {datetime.now()}.')

Inclusão da coluna SEXO no Dataframe inciada - 2020-07-14 17:47:52.235124.
Coluna SEXO criada com sucesso - 2020-07-14 17:47:56.969435.

In [61]:
#Criação da coluna NACIONALIDADE, com apoio do dicionário. 

print(f'Inclusão da coluna NACIONALIDADE no Dataframe inciada - {datetime.now()}.')

df_enem2015['NACIONALIDADE'] = [dic_TP_NACIONALIDADE[n] for n in df_enem2015.TP_NACIONALIDADE]

print(f'Coluna NACIONALIDADE criada com sucesso - {datetime.now()}.')

Inclusão da coluna NACIONALIDADE no Dataframe inciada - 2020-07-14 17:48:22.940315.
Coluna NACIONALIDADE criada com sucesso - 2020-07-14 17:48:27.389071.

In [66]:
#Criação da coluna STATUS_CONCLUSAO, com apoio do dicionário. 

print(f'Inclusão da coluna STATUS_CONCLUSAO no Dataframe inciada - {datetime.now()}.')

df_enem2015['STATUS_CONCLUSAO'] = [dic_TP_ST_CONCLUSAO[c] for c in df_enem2015.TP_ST_CONCLUSAO]

print(f'Coluna STATUS_CONCLUSAO criada com sucesso - {datetime.now()}.')

Inclusão da coluna STATUS_CONCLUSAO no Dataframe inciada - 2020-07-14 18:05:05.576664.
Coluna STATUS_CONCLUSAO criada com sucesso - 2020-07-14 18:05:07.725432.

In [62]:
df_enem2015.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESTADO_CIVIL,TP_COR_RACA,SEXO,NACIONALIDADE
0,150000000376,Gravataí,RS,42.0,M,1,1,1.0,1,Masculino,Brasileiro(a)
1,150000003053,Montes Claros,MG,21.0,M,1,1,0.0,3,Masculino,Brasileiro(a)
2,150000001161,Olinda,PE,22.0,M,1,4,1.0,2,Masculino,Brasileiro(a)
3,150000001335,Belo Horizonte,MG,23.0,F,1,1,0.0,4,Feminino,Brasileiro(a)
4,150000001219,Teófilo Otoni,MG,18.0,M,1,1,0.0,3,Masculino,Brasileiro(a)

In [63]:
# Apresentação do Raking dos Estados da Federação por nº de Inscrição. 

df_enem2015.filter(items= ['NU_INSCRICAO', 'SG_UF_RESIDENCIA']).groupby('SG_UF_RESIDENCIA').count().sort_values(by = 'NU_INSCRICAO', ascending = False)

                  NU_INSCRICAO
SG_UF_RESIDENCIA
SP                     1257466
MG                      869386
BA                      580401
RJ                      544002
CE                      459430
RS                      418695
PE                      390112
PA                      367330
PR                      338195
MA                      268361
GO                      263225
PB                      204060
RN                      179907
SC                      162874
DF                      160440
AM                      156595
ES                      153992
PI                      153892
MT                      149433
AL                      137247
MS                      132211
SE                      107787
RO                       91044
TO                       68022
AC                       55406
AP                       54693
RR                       22221

In [65]:
# Apresentação do Raking do Sexo por nº de Inscrição. 

df_enem2015.filter(items= ['NU_INSCRICAO', 'SEXO']).groupby('SEXO').count().sort_values(by = 'NU_INSCRICAO', ascending = False)

           NU_INSCRICAO
SEXO
Feminino        4460448
Masculino       3285979

In [49]:
# Apresentação do Raking das faixas etárias por nº de Inscrição. 

df_enem2015_idadedf_enem2015.filter(items= ['NU_INSCRICAO', 'NU_IDADE']).groupby('NU_IDADE').count().sort_values(by = 'NU_INSCRICAO', ascending = False)

          NU_INSCRICAO
NU_IDADE
17.0           1047384
18.0           1029168
19.0            763181
20.0            597136
16.0            515921
...                ...
88.0                 2
86.0                 1
89.0                 1
91.0                 1
98.0                 1

[82 rows x 1 columns]

In [64]:
# Apresentação do Raking das Nacionalidades por nº de inscrição.

df_enem2015.filter(items= ['NU_INSCRICAO', 'NACIONALIDADE']).groupby('NACIONALIDADE').count().sort_values(by = 'NU_INSCRICAO', ascending = False)

                                               NU_INSCRICAO
NACIONALIDADE
Brasileiro(a)                                       7429503
Brasileiro(a) Naturalizado(a)                        281435
Brasileiro(a) Nato(a), nascido(a) no exterior         24246
Estrangeiro(a)                                         9247
Não informado                                          1996