Projeto Final Pós Graduação Big Data - Senac Rio - 2020.

Processo de importação das Bibliotecas utilizadas no durante todo o projeto.

In [1]:
#Importação das bibliotecas utilizadas para manipulação dos dados das paginas Web.

from bs4 import BeautifulSoup
import urllib.request
import shutil
import os
from datetime import datetime
import pandas as pd
import pyspark
import zipfile
import sqlalchemy
import pymysql
import json
import numpy as np
import matplotlib.pyplot as plt

Indicação do diretório para download dos arquivos Inep-Enem.

In [ ]:
#Indicação do diretório desejado para download dos arquivos. 
#No exemplo, estamos salvando no diretório: C:\Users\Ricardo\Downloads

diretorio = input('Digite o diretório desejado para salvar os arquivos: ')
os.chdir(r'{}'.format(diretorio))
os.getcwd( )

In [ ]:
#Apos indicar o diretorio desejado, como boa pratica, sugerimos a criação da pasta onde será salvos os arquivos.
#No exemplo, estamos salvando na pasta: MicrodadosEnem.'''

url = 'http://inep.gov.br/microdados'

pasta = input('Após indicação do diretório {}, informe o nome da pasta desejada para salvar os arquivos baixados da pagina {}: '.format(diretorio, url))

try:
    os.mkdir(pasta)
    print('Pasta {} criada com sucesso!'.format(pasta))
except FileExistsError as e:
    print(f'Pasta {pasta} já existe')

In [ ]:
#Indicação do diretório onde será salvo os arquivos baixados da url.

os.chdir(r'{}\{}'.format(diretorio, pasta))
print('Os arquivos serão salvos no seguinte diretorio:', format(os.getcwd()))

Processo de Web Scraping no site do Inep, buscando os microdados do Enem.

In [ ]:
#Criação da variável que receberá todos os dados correspondente a varíavel "url".

page = urllib.request.urlopen(url)

In [ ]:
#Criação da variável "soup", do pacote BeatifulSoup, que apresenta a estutura HTML da pagina que será trabalhada.

soup = BeautifulSoup(page,'html.parser')
print(soup)

In [ ]:
#No loop "for" abaixo, o realizaremos o filtro das tags desejadas.

for link in soup.findAll('a'):
    theLink = link.get('href')
    name = link.string
    
    print(theLink)
    print(name)

In [ ]:
#No processo abaixo, realizaremos o filtro das linhas, cujo o o tipo do arquivo desejado é *.zip.

nomeArquivo = []
typeFile = '.zip'
i = 0
for link in soup.findAll('a'):
    theLink = str(link.get('href')).lower()
    name = link.string
    if 'enem'in theLink:
        if theLink[-4:] == typeFile:
            print(theLink)
            print(type(theLink))
            print(name)
            print(type(name))
            nomeArquivo.append(theLink[39:-4].replace('/','_'))
            print(type(nomeArquivo))

In [ ]:
#Processo de download dos arquivos desejados e salvos na na pasta indicada.

i = 0
for link in soup.findAll('a'):
    theLink = str(link.get('href')).lower()
    name = link.string
    if 'enem'in theLink:
        if theLink[-4:] == typeFile:
            if name is None:
                title = 'SemTítulo' + typeFile
            else:
                title = nomeArquivo[i] + typeFile
                i +=1
            try:
                with open(os.getcwd() + '/' + title,'r') as fileExists:
                    print('Arquivo ' + title + ' existente no diretório '+ os.getcwd() + ' - ' + str(datetime.now()))
                    fileExists.close()
            except FileNotFoundError:
                print('Download Iniciado - {}: '.format(datetime.now()) + title)
                docFile = open(os.getcwd() + '/' + title,'wb')
                docFile.write(urllib.request.urlopen(theLink).read())
                docFile.close()
                print('Download Concluído em {}'.format(datetime.now()))
print('Não há mais arquivos para download')

In [ ]:
#Apresentação do tamanho dos arquivos baixados.

print('Apresentação Arquivos Enem baixados no díretório: ' + os.getcwd())
contador = 0
tamanhoTotal = 0
tipo = '.zip'

def formatarTamanho(tamanho):
    base = 1024
    kilo = base
    mega = base ** 2
    giga = base ** 3
    tera = base ** 4
    
    if tamanho < kilo:
        tamanho = base
        texto = 'B'
    elif tamanho < mega:
        tamanho /= kilo
        texto = 'K'
    elif tamanho < giga:
        tamanho /= mega
        texto = 'M'
    else:
        tamanho < tera
        tamanho /= giga
        texto = 'G'
    tamanho = round(tamanho, 2)
    return f'{tamanho} {texto}'

for raiz, diretorios, arquivos in os.walk(os.getcwd()):
    for arquivo in arquivos:
        if tipo in arquivo:
            contador +=1 
            caminho = os.path.join(raiz, arquivo)
            nome, ext = os.path.splitext(arquivo)
            tamanho = os.path.getsize(caminho)
            tamanhoTotal += tamanho
                                
            if tamanho > 0:
                print()
                print('Arquivo encontrado: ', arquivo)
                print('Caminho: ', caminho)
                print('Nome: ', nome)
                print('Extensão: ', ext)
                print('Tamanho: ', formatarTamanho(tamanho))

print()
print(f'{contador} arquivo(s) encontrado(s).' + 'Tamanho Total: ' + formatarTamanho(tamanhoTotal))

Processo de Conexão ao Mysql e criação do banco de dados que receberá os microdados dos anos de 2015 a 2019.

In [ ]:
# Criando um database.

conexao = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'admin')

cursor = conexao.cursor()

try:
    cursor.execute('CREATE DATABASE dbenem')
    print('Banco de Dados dbenem criado com sucesso!')
except:
    print('Banco de Dados dbenem já existe!')

In [ ]:
# Conectando ao Banco de Dados enemdb.

cursor.execute("SHOW DATABASES")
print('Databases MySql:')
for x in cursor:
  print(x)


cursor.connection.select_db('dbenem')
print('')
print('Conexão com o banco de dados dbenem')

In [2]:
from pyspark import SparkContext
sc = SparkContext()

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [15]:
# No Processo abaixo, importaremos para o dataframe, apenas para conhecer os dados e verificar o separador do microdado.

print(f'Criação Dataframes Iniciado - {datetime.now()}.')
print('')

print('')
print(f'Criação Dataframe do Enem 2015 iniciada - {datetime.now()}.')
enem2015 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', sep=",", inferschema='false', encoding = 'ISO-8859-1', ).load(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\MICRODADOS_ENEM_2015.csv')
print(f'Dataframe enem2015 criado com sucesso - {datetime.now()}.')
print('')

print(f'Criação Dataframe do Enem 2016 iniciada- {datetime.now()}.')
enem2016 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', sep=";", inferschema='false', encoding = 'ISO-8859-1').load(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\microdados_enem_2016.csv')
print(f'Dataframe enem2016 criado com sucesso - {datetime.now()}.')
print('')

print(f'Criação Dataframe do Enem 2017 iniciada - {datetime.now()}.')
enem2017 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', sep=";", inferschema='false', encoding = 'ISO-8859-1').load(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\MICRODADOS_ENEM_2017.csv')
print(f'Dataframe enem2017 criado com sucesso - {datetime.now()}.')
print('')

print(f'Criação Dataframe do Enem 2018 iniciada - {datetime.now()}.')
enem2018 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', sep=";", inferschema='false', encoding = 'ISO-8859-1').load(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\MICRODADOS_ENEM_2018.csv')
print(f'Dataframe enem2018 criado com sucesso - {datetime.now()}.')
print('')

print(f'Criação Dataframe do Enem 2019 iniciada - {datetime.now()}.')
enem2019 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', sep=";", inferschema='false', encoding = 'ISO-8859-1').load(r'C:\Users\Ricardo\Downloads\MicrodadosEnem\MICRODADOS_ENEM_2019.csv')
print(f'Dataframe enem2019 criado com sucesso - {datetime.now()}.')
print('')

print('')
print(f'Dataframes criados com sucesso - {datetime.now()}.')

Criação Dataframes Iniciado - 2020-08-16 16:36:40.975207.


Criação Dataframe do Enem 2015 iniciada - 2020-08-16 16:36:40.975207.
Dataframe enem2015 criado com sucesso - 2020-08-16 16:36:41.092461.

Criação Dataframe do Enem 2016 iniciada- 2020-08-16 16:36:41.092461.
Dataframe enem2016 criado com sucesso - 2020-08-16 16:36:41.193194.

Criação Dataframe do Enem 2017 iniciada - 2020-08-16 16:36:41.193194.
Dataframe enem2017 criado com sucesso - 2020-08-16 16:36:41.307165.

Criação Dataframe do Enem 2018 iniciada - 2020-08-16 16:36:41.307165.
Dataframe enem2018 criado com sucesso - 2020-08-16 16:36:41.413433.

Criação Dataframe do Enem 2019 iniciada - 2020-08-16 16:36:41.413433.
Dataframe enem2019 criado com sucesso - 2020-08-16 16:36:41.509178.


Dataframes criados com sucesso - 2020-08-16 16:36:41.509178.

In [5]:
#Importando dos Dataframes para tabelas no mysql

print(f'Iniciando a criação e importação dos dados do Microdados Enem para tabela mysql - {datetime.now()}.')
print('')

print('')
print(f'Criação da Tabela tb_enem2015 iniciada - {datetime.now()}.')
print(f'Importação do Dataframe enem2015 para a Tabela tb_enem2015 iniciada - {datetime.now()}.')
enem2015.write.format('jdbc').options(
    url='jdbc:mysql://localhost/dbenem?useTimezone=true&serverTimezone=UTC',
    driver='com.mysql.jdbc.Driver',
    dbtable='tb_enem2015',
    user='root', password='admin').mode('overwrite').save()
print(f'Importação para a Tabela tb_enem2015 com sucesso - {datetime.now()}.')
print('')

print(f'Criação da Tabela tb_enem2016 iniciada - {datetime.now()}.')
print(f'Importação do Dataframe enem2016 para a Tabela tb_enem2016 iniciada - {datetime.now()}.')
enem2016.write.format('jdbc').options(
    url='jdbc:mysql://localhost/dbenem?useTimezone=true&serverTimezone=UTC',
    driver='com.mysql.jdbc.Driver',
    dbtable='tb_enem2016',
    user='root', password='admin').mode('overwrite').save()  
print(f'Importação para a Tabela tb_enem2016 com sucesso - {datetime.now()}.')
print('')

print(f'Criação da Tabela tb_enem2017 iniciada - {datetime.now()}.')
print(f'Importação do Dataframe enem2017 para a Tabela tb_enem2017 iniciada - {datetime.now()}.')
enem2017.write.format('jdbc').options(
    url='jdbc:mysql://localhost/dbenem?useTimezone=true&serverTimezone=UTC',
    driver='com.mysql.jdbc.Driver',
    dbtable='tb_enem2017',
    user='root', password='admin').mode('overwrite').save()
print(f'Importação para a Tabela tb_enem2017 com sucesso - {datetime.now()}.')
print('')

print(f'Criação da Tabela tb_enem2018 iniciada - {datetime.now()}.')
print(f'Importação do Dataframe enem2018 para a Tabela tb_enem2018 iniciada - {datetime.now()}.')
enem2018.write.format('jdbc').options(
    url='jdbc:mysql://localhost/dbenem?useTimezone=true&serverTimezone=UTC',
    driver='com.mysql.jdbc.Driver',
    dbtable='tb_enem2018',
    user='root', password='admin').mode('overwrite').save()
print(f'Importação para a Tabela tb_enem2018 com sucesso - {datetime.now()}.')
print('')

print(f'Criação da Tabela tb_enem2019 iniciada - {datetime.now()}.')
print(f'Importação do Dataframe enem2019 para a Tabela tb_enem2019 iniciada - {datetime.now()}.')
enem2019.write.format('jdbc').options(
    url='jdbc:mysql://localhost/dbenem?useTimezone=true&serverTimezone=UTC',
    driver='com.mysql.jdbc.Driver',
    dbtable='tb_enem2019',
    user='root', password='admin').mode('overwrite').save()    
print(f'Importação para a Tabela tb_enem2019 com sucesso - {datetime.now()}.')
print('')

print('')
print(f'Tabelas e Importações realizados com sucesso - {datetime.now()}.')

Iniciando a criação e importação dos dados do Microdados Enem para tabela mysql - 2020-08-14 18:24:30.703137.


Criação da Tabela tb_enem2015 iniciada - 2020-08-14 18:24:30.703137.
Importação do Dataframe enem2015 para a Tabela tb_enem2015 iniciada - 2020-08-14 18:24:30.703137.
Importação para a Tabela tb_enem2015 com sucesso - 2020-08-14 18:54:14.514733.

Criação da Tabela tb_enem2016 iniciada - 2020-08-14 18:54:14.516727.
Importação do Dataframe enem2016 para a Tabela tb_enem2016 iniciada - 2020-08-14 18:54:14.516727.
Importação para a Tabela tb_enem2016 com sucesso - 2020-08-14 19:30:42.159196.

Criação da Tabela tb_enem2017 iniciada - 2020-08-14 19:30:42.160617.
Importação do Dataframe enem2017 para a Tabela tb_enem2017 iniciada - 2020-08-14 19:30:42.161615.
Importação para a Tabela tb_enem2017 com sucesso - 2020-08-14 19:53:11.265111.

Criação da Tabela tb_enem2018 iniciada - 2020-08-14 19:53:11.266107.
Importação do Dataframe enem2018 para a Tabela tb_enem2018 iniciada - 2020-08-14 19:53:11.266107.
Importação para a Tabela tb_enem2018 com sucesso - 2020-08-14 20:12:35.305334.

Criação da Tabela tb_enem2019 iniciada - 2020-08-14 20:12:35.305334.
Importação do Dataframe enem2019 para a Tabela tb_enem2019 iniciada - 2020-08-14 20:12:35.305334.
Importação para a Tabela tb_enem2019 com sucesso - 2020-08-14 20:28:48.675241.


Tabelas e Importações realizados com sucesso - 2020-08-14 20:28:48.676238.

In [27]:
enem2015.show()

|                       null|                       null|           3550308|         São Paulo|         35|         SP|             1|             1|             1|             1|        235|        231|        240|        244|     477.3|     553.3|     523.9|     429.5|DBCDDAECABECBBAAD...|DEAEBDBCAADEAACEB...|99999DDABEBEDDBAC...|EBCAADCBCEDECAAEC...|        1|DCCDBCAAEBECBAADA...|AEAEADECEADEDBDAC...|AACDEBACDDBEDDCEA...|EBCCBEEDABDBDECDA...|                1|          120|          120|           80|           80|           40|            440|   H|   E|   A|   A|   6|   D|   A|   B|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   B|   A|   E|   B|   B|   B|   C|   E|   E|   4|   4|   5|   5|   5|   5|   5|   3|   5|   5|   4|   4|   5|   A|   A|   A|   A|   A|   A|   A|   A|   A|
|150000000164|  2015|                3304706|   Santo Antônio de ...|              33|              RJ|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      20|      F|               1|                3304706|   Santo Antônio de ...|              33|              RJ|              1|              3|        1|     null|              0|          1|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           3304557|    Rio de Janeiro|         33|         RJ|             1|             1|             1|             1|        236|        232|        242|        246|     452.2|     624.5|     596.8|     405.1|ADEEDCDCDDDCCCCEB...|BADCCBBDCACBEEDDD...|99999DDAEDCDEBBEC...|DDEECCDDBCBCDCDAE...|        1|AEDCADBCABCCBBBBE...|DADCCABDEACBCEEDE...|CEDAABDACDBDEDBDC...|DAEACAAEBADDBBEBC...|                1|          120|          120|          100|          100|          100|            540|   C|   E|   C|   B|   3|   D|   A|   B|   C|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   A|   B|   A|   B|   B|   B|   F|   A|   4|   3|   4|   4|   4|   5|   5|   3|   5|   3|   3|   4|null|   A|   A|   A|   A|   A|   A|   D|   A|   A|
|150000000165|  2015|                2905701|               Camaçari|              29|              BA|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      20|      F|               1|                2927408|               Salvador|              29|              BA|              1|              4|        1|     null|              1|          2|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           2905701|          Camaçari|         29|         BA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|                4|            0|            0|            0|            0|            0|              0|   E|   D|   D|   B|   1|   C|   A|   B|   B|   A|   A|   B|   B|   A|   A|   A|   A|   A|   B|   A|   A|   C|   A|   B|   B|   C|   F|   C|   5|   0|   3|   5|   4|   5|   5|   3|   5|   1|   5|   4|   4|   A|   A|   A|   B|   A|   A|   A|   A|   A|
|150000000218|  2015|                5300108|               Brasília|              53|              DF|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      21|      M|               1|                2207009|                 Oeiras|              22|              PI|              1|              4|        1|     null|              0|          2|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           5300108|          Brasília|         53|         DF|             1|             1|             1|             1|        237|        233|        239|        243|     478.4|     522.6|     476.5|     432.7|BBDBBBACCCBEBCAED...|CCBADEAEECEEDBDEA...|ABCEB99999BDEBEBD...|EAADCBAABABEDECBC...|        0|EADDCCBEEDCEAABBB...|CABDDEDADCBBCEBCE...|CDEAADCDBABDEBECE...|DBBBADCADAEAEDCAD...|                1|          120|           80|           80|           80|            0|            360|   B|   B|   A|   A|   3|   C|   A|   C|   B|   B|   A|   B|   A|   B|   A|   B|   A|   A|   C|   A|   B|   D|   B|   B|   B|   C|   C|   A|   2|   0|   4|   5|   5|   5|   5|   5|   5|   5|   3|   3|   3|   A|   A|   A|   A|   A|   A|   A|   A|   A|
|150000000166|  2015|                3306008|              Três Rios|              33|              RJ|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      19|      M|               1|                3306008|              Três Rios|              33|              RJ|              1|              3|        1|     null|              0|          3|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           3306008|         Três Rios|         33|         RJ|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|                4|            0|            0|            0|            0|            0|              0|   D|   E|   C|   C|   3|   D|   A|   B|   C|   B|   A|   B|   A|   B|   A|   A|   A|   A|   B|   B|   A|   C|   A|   B|   B|   C|   C|   E|   4|   2|   4|   5|   5|   5|   5|   3|   5|   5|   5|   5|   3|   A|   A|   A|   A|   A|   A|   A|   A|   A|
|150000000219|  2015|                2111300|               São Luís|              21|              MA|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      22|      F|               1|                2111300|               São Luís|              21|              MA|              1|              6|        1|     null|              0|          1|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           2111300|          São Luís|         21|         MA|             1|             1|             1|             1|        236|        232|        241|        245|       552|       651|     602.8|     825.2|ACDEADECBEDBDDADB...|BAECCABAEACBEEDDE...|DEABA99999EBEADBB...|AADEBCCDACCCACABE...|        0|AEDCADBCABCCBBBBE...|DADCCABDEACBCEEDE...|DEAACDCBDAEBDABBB...|BADEBCCDACCCACAAE...|                1|          140|          140|          160|          120|           40|            600|   H|   E|   F|   D|   4|   E|   A|   B|   C|   B|   A|   B|   A|   B|   A|   B|   A|   A|   B|   A|   A|   D|   B|   B|   B|   A|null|null|null|null|null|null|null|   5|   5|   0|   0|   0|   5|   5|null|   C|   A|   A|   A|   A|   D|   A|   A|   A|
|150000000275|  2015|                5300108|               Brasília|              53|              DF|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      23|      F|               1|                5300108|               Brasília|              53|              DF|              1|              1|        1|     null|              0|          3|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           5300108|          Brasília|         53|         DF|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|                4|            0|            0|            0|            0|            0|              0|   B|   D|   B|   B|   3|   C|   A|   B|   C|   B|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   C|   B|   B|   B|   C|   B|   E|   4|   1|   2|   1|   5|   4|   5|   5|   5|   5|   5|   5|   3|   A|   A|   A|   B|   A|   A|   B|   B|   A|
|150000000220|  2015|                5300108|               Brasília|              53|              DF|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      23|      M|               1|                5300108|               Brasília|              53|              DF|              1|              6|        1|     null|              0|          1|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           5300108|          Brasília|         53|         DF|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|                4|            0|            0|            0|            0|            0|              0|   F|   D|   F|   B|   4|   D|   A|   B|   D|   A|   A|   B|   B|   A|   A|   A|   A|   A|   C|   B|   B|   D|   B|   B|   B|   C|   E|   E|   5|   5|   5|   5|   5|   5|   5|   5|   5|   3|   3|   5|   5|   A|   A|   A|   A|   A|   A|   C|   C|   A|
|150000000167|  2015|                3304557|         Rio de Janeiro|              33|              RJ|                          0|           0|     null|            null|            null|     null|     null|                  null|              null|           null|      27|      F|               1|                3304557|         Rio de Janeiro|              33|              RJ|              1|             10|        1|     null|              1|          3|             0|          0|        0|                      0|                0|                    0|                    0|                 0|          0|          0|          0|       0|             0|         0|                 0|           0|           0|             0|             0|         0|             0|             0|       0|        0|             0|        0|                0|                    0|                       0|             0|                 0|      0|            0|                  0|                 0|                    0|               0|                  0|                0|                    0|                 0|                0|         0|             0|       0|              0|                 0|               0|                   0|                       0|                     0|             0|                    null|                       null|                       null|           3304557|    Rio de Janeiro|         33|         RJ|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|                4|            0|            0|            0|            0|            0|              0|   D|   E|   C|   D|   5|   G|   A|   B|   C|   A|   A|   B|   B|   B|   A|   B|   A|   B|   C|   B|   B|   D|   B|   B|   B|   C|   A|   B|   5|   5|   5|   5|   5|   5|   5|   2|   5|   5|   5|   5|   2|   A|   A|   A|   A|   A|   A|   A|   A|   A|
+------------+------+-----------------------+-----------------------+----------------+----------------+---------------------------+------------+---------+----------------+----------------+---------+---------+----------------------+------------------+---------------+--------+-------+----------------+-----------------------+-----------------------+----------------+----------------+---------------+---------------+---------+---------+---------------+-----------+--------------+-----------+---------+-----------------------+-----------------+---------------------+---------------------+------------------+-----------+-----------+-----------+--------+--------------+----------+------------------+------------+------------+--------------+--------------+----------+--------------+--------------+--------+---------+--------------+---------+-----------------+---------------------+------------------------+--------------+------------------+-------+-------------+-------------------+------------------+---------------------+----------------+-------------------+-----------------+---------------------+------------------+-----------------+----------+--------------+--------+---------------+------------------+----------------+--------------------+------------------------+----------------------+--------------+------------------------+---------------------------+---------------------------+------------------+------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [22]:
print('Quantidade de Registros importadados para cada Dataframe')
print('')
print('Quantdade de Registros Dataframe Enem2015')
print(enem2015.count())
print('')
print('Quantdade de Registros Dataframe Enem2016')
print(enem2016.count())
print('')
print('Quantdade de Registros Dataframe Enem2017')
print(enem2017.count())
print('')
print('Quantdade de Registros Dataframe Enem2018')
print(enem2018.count())
print('')
print('Quantdade de Registros Dataframe Enem2019')
print(enem2019.count())

Quantidade de Registros importadados para cada Dataframe

Quantdade de Registros Dataframe Enem2015
7746427

Quantdade de Registros Dataframe Enem2016
8627367

Quantdade de Registros Dataframe Enem2017
6731341

Quantdade de Registros Dataframe Enem2018
5513747

Quantdade de Registros Dataframe Enem2019
5095270

+------------+
|NU_INSCRICAO|
+------------+
|150000000376|
|150000003053|
|150000001161|
|150000001335|
|150000001219|
|150000002884|
|150000002510|
|150000000658|
|150000000434|
|150000000216|
|150000000274|
|150000000217|
|150000000164|
|150000000165|
|150000000218|
|150000000166|
|150000000219|
|150000000275|
|150000000220|
|150000000167|
+------------+
only showing top 20 rows

In [ ]:
enem2015.count()